<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" style="visibility: hidden; position: absolute;">
	<linearGradient id="grad" x1="9.125" y1="0" x2="9.125" y2="20" gradientUnits="userSpaceOnUse">
		<stop stop-color="#F7D231"/>
		<stop offset="1" stop-color="#FFDE2F"/>
	</linearGradient>
</svg>

<script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
<script>svg4everybody();</script>

<script src="%=static=%js/main%=hash=%%=min=%.js"></script>
<script src="%=static=%js/separate-js/validate.js"></script>
<script src="nav.js"></script>