<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%
	
	{{> header/header }}

	<div class="error">
		<img src="%=static=%img/general/404.svg" alt="404">
		<h3>Страница не найдена</h3>
		<a href="/">Вернуться на главную</a>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>