<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header-na }}

	<div class="productPage">
		<div class="wrapper">
			<a href="#" class="row back">
				{{Icon iconName="back"}}
				<span>Вернуться к товару</span>
			</a>
			<div class="title">Подтверждение заказа</div>

			<div class="productPage-items">
				<div class="productPage-left accept-left">
					<div class="info">
						<h4>Характеристики</h4>
						<div class="info-chars">
							<div class="row info-char">
								<div class="info-left">Игра</div>
								<div class="info-right">GTA 5</div>
							</div>
							<div class="row info-char">
								<div class="info-left">Платформа</div>
								<div class="info-right">PC</div>
							</div>
							<div class="row info-char">
								<div class="info-left">Тип</div>
								<div class="info-right">Steam Аккаунт</div>
							</div>
							<div class="row info-char">
								<div class="info-left">Пункт</div>
								<div class="info-right">Характеристика</div>
							</div>
						</div>
						<h4>КРАТКОЕ ОПИСАНИЕ</h4>
						<div class="info-small">	
							<p class="desc">✅АККАУНТ ⭐GTA 5 SOCIAL CLUB + ONLINE⭐ + СМЕНА ДАННЫХ✅ + БОНУС</p>
						</div>

						<h4>ОПИСАНИЕ</h4>
						<div class="info-big">
							<p class="desc">Аккаунт GTA 5 ONLINE ЛИЧНЫЙ ВЕЧНАЯ ГАРАНТИЯ</p>
							<p class="desc">
								Аккаунт: <a href="#">https://ru.socialclub.rockstargames.com/member/cicihongamer2020/</a>
							</p>
							<p class="desc">В GTA 5 ONLINE НЕ ЗАХОДИЛ 1 НЕДЕЛЮ</p>
							<p class="desc">НАЛИЧНЫЕ 24231$</p>
							<p class="desc">БАНК 2521$</p>
							<p class="desc">3 ЛВЛ</p>
							<p class="desc">ОТКРЫТО ВСЁ</p>
							<p class="desc">ВРЕМЯ ИГРЫ: 1 ЧАС. 2 МИН. 41 СЕК</p>
						</div>

						<div class="info-images">
							<a href="%=static=%img/general/recover.jpg" class="info-image" data-fancybox="gallery">
								<img src="%=static=%img/general/recover.jpg" alt="info">
								<span class="zoom">
									{{Icon iconName="zoom"}}
								</span>
							</a>
							<a href="%=static=%img/general/register.jpg" class="info-image" data-fancybox="gallery">
								<img src="%=static=%img/general/register.jpg" alt="info">
								<span class="zoom">
									{{Icon iconName="zoom"}}
								</span>
							</a>
							<a href="%=static=%img/general/recover.jpg" class="info-image" data-fancybox="gallery">
								<img src="%=static=%img/general/recover.jpg" alt="info">
								<span class="zoom">
									{{Icon iconName="zoom"}}
								</span>
							</a>
							<a href="%=static=%img/general/register.jpg" class="info-image" data-fancybox="gallery">
								<img src="%=static=%img/general/register.jpg" alt="info">
								<span class="zoom">
									{{Icon iconName="zoom"}}
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="productPage-right accept-right">
					<h4>покупка</h4>
					<div class="productPage-block">
						<form action="">
							<div class="buy-item">
								<span class="sposob">Способ оплаты</span>
								<div class="row">
									{{Icon iconName="card"}}
									<div>Банковской картой</div>
								</div>
							</div>
							<div class="buy-item">
								<span class="sposob">Сумма оплаты</span>
								<h3>55.56 ₽</h3>
							</div>
							<button>Оплатить</button>
						</form>
						<p>Продавец не сможет получить оплату до тех пор, пока вы не подтвердите выполнение им всех обязательств</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>