<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header }}

	<div class="wrapper">
		<div class="chatPage">
			<div class="chatPage-users">
				<div class="chatPage-search">
					{{Icon iconName="search"}}
					<input type="text" placeholder="Поиск">
				</div>
				<div class="chatPage-items">
					<div class="chatPage-user active">
						<div class="seller-icon">
							<img src="%=static=%img/general/seller1.png" alt="Avatar">
							<div class="seller-status online"></div>
						</div>
						<div class="seller-info">
							<div class="seller-name">Dantevsky</div>
							<div class="user-msg">Вот скрины, аккаунту ...</div>
						</div>
						<div class="chatPage-time">2 мин</div>
					</div>
					<div class="chatPage-user">
						<div class="seller-icon">
							<img src="%=static=%img/general/seller2.png" alt="Avatar">
							<div class="seller-status offline"></div>
						</div>
						<div class="seller-info">
							<div class="seller-name">BanMachine</div>
							<div class="user-msg">Ок, тогда я пойду играть. Если asd asd as</div>
						</div>
						<div class="chatPage-time">13:48</div>
					</div>
					<div class="chatPage-user">
						<div class="seller-icon">
							<img src="%=static=%img/general/user.png" alt="Avatar">
							<div class="seller-status offline"></div>
						</div>
						<div class="seller-info">
							<div class="seller-name">BanMachine</div>
							<div class="user-msg">Ок, тогда я пойду играть. Если asd asd as</div>
						</div>
						<div class="chatPage-time">вчера</div>
					</div>
					<div class="chatPage-user">
						<div class="seller-icon">
							<img src="%=static=%img/general/seller1.png" alt="Avatar">
							<div class="seller-status online"></div>
						</div>
						<div class="seller-info">
							<div class="seller-name">HellYeahPlay</div>
							<div class="user-msg">Ок, тогда я пойду играть. Если asd asd as</div>
						</div>
						<div class="chatPage-time">18 июля</div>
					</div>
					
				</div>
			</div>
			<div class="chatPage-messages">
				<div class="row chatPage-head">
					<div class="chatPage-back">
						<svg enable-background="new 0 0 64 64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
							<path d="m54 30h-39.899l15.278-14.552c.8-.762.831-2.028.069-2.828-.761-.799-2.027-.831-2.828-.069l-17.448 16.62c-.755.756-1.172 1.76-1.172 2.829 0 1.068.417 2.073 1.207 2.862l17.414 16.586c.387.369.883.552 1.379.552.528 0 1.056-.208 1.449-.621.762-.8.731-2.065-.069-2.827l-15.342-14.552h39.962c1.104 0 2-.896 2-2s-.896-2-2-2z"/>
						</svg>
					</div>
					<div class="seller-icon">
						<img src="%=static=%img/general/seller1.png" alt="Avatar">
						<div class="seller-status online"></div>
					</div>
					<div class="seller-info">
						<div class="seller-name">Dantevsky</div>
						<div class="seller-time">online</div>
					</div>
				</div>
				<div class="chatPage-center">
					<div class="chatPage-body">
						<div class="chatPage-inner">
							<div class="chatPage-item chatPage-admin">
								<div class="chatPage-icon">
									{{Icon iconName="box"}}
									<div class="chatPage-time">21:14</div>
								</div>
								<div class="chatPage-msg">
									<div>Покупатель <a href="#">BanMachine</a> оплатил заказ <a href="#">#7021282</a>. Dota 2, Аккаунты, Властелин 3 + почта 60% wr + 10000 порядочности, 4160 core MMR, 4070 support MMR. <a href="#">BanMachine</a>, не забудьте потом нажать кнопку «Подтвердить выполнение заказа».</div>
								</div>
							</div>
							<div class="chatPage-item">
								<div class="chatPage-icon">
									<img src="%=static=%img/general/seller1.png" alt="">
								</div>
								<div class="chatPage-msg">
									<div>Приветствую, я оплатил товар, скидывайте доступ и почту от аккаунта</div>
									<div class="chatPage-time">21:14</div>
								</div>
							</div>
							<div class="chatPage-item">
								<div class="chatPage-icon">
									<img src="%=static=%img/general/seller2.png" alt="">
								</div>
								<div class="chatPage-msg">
									<div>
										День добрый,секунду <br>
										Логи от стима: <br>
										SAY1J0I2ITSH6TJT23RW55X0 <br>
										lickylicky228 <br>
									</div>
									<div class="chatPage-time">21:14</div>
								</div>
							</div>
							<div class="chatPage-item chatPage-admin">
								<div class="chatPage-icon">
									{{Icon iconName="circle"}}
									<div class="chatPage-time">21:14</div>
								</div>
								<div class="chatPage-msg">
									<div>Покупатель <a href="#">BanMachine</a> подтвердил успешное выполнение заказа <a href="#">#7021282</a> и отправил деньги продавцу Dantevsky.</div>
									<div class="chatPage-money">+ 222.23 ₽</div>
								</div>
							</div>
							<div class="chatPage-item chatPage-admin">
								<div class="chatPage-icon">
									{{Icon iconName="box"}}
									<div class="chatPage-time">21:14</div>
								</div>
								<div class="chatPage-msg">
									<div>Покупатель <a href="#">BanMachine</a> оплатил заказ <a href="#">#7021282</a>. Dota 2, Аккаунты, Властелин 3 + почта 60% wr + 10000 порядочности, 4160 core MMR, 4070 support MMR. <a href="#">BanMachine</a>, не забудьте потом нажать кнопку «Подтвердить выполнение заказа».</div>
								</div>
							</div>
							<div class="chatPage-item">
								<div class="chatPage-icon">
									<img src="%=static=%img/general/seller1.png" alt="">
								</div>
								<div class="chatPage-msg">
									<div>Приветствую, я оплатил товар, скидывайте доступ и почту от аккаунта</div>
									<div class="chatPage-time">21:14</div>
								</div>
							</div>
							<div class="chatPage-item">
								<div class="chatPage-icon">
									<img src="%=static=%img/general/seller2.png" alt="">
								</div>
								<div class="chatPage-msg">
									<div>
										День добрый,секунду <br>
										Логи от стима: <br>
										SAY1J0I2ITSH6TJT23RW55X0 <br>
										lickylicky228 <br>
									</div>
									<div class="chatPage-time">21:14</div>
								</div>
							</div>
							<div class="chatPage-item chatPage-admin">
								<div class="chatPage-icon">
									{{Icon iconName="circle"}}
									<div class="chatPage-time">21:14</div>
								</div>
								<div class="chatPage-msg">
									<div>Покупатель <a href="#">BanMachine</a> подтвердил успешное выполнение заказа <a href="#">#7021282</a> и отправил деньги продавцу Dantevsky.</div>
									<div class="chatPage-money">+ 222.23 ₽</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="chatPage-bottom">
					<form action="" class="row">
						<input type="text" placeholder="Написать...">
						<button>{{Icon iconName="send"}}</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>