<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header }}

	<div class="finance">
		<div class="wrapper">
			{{> bread/bread }}
			<div class="finance-row">
				<div class="title">Финансы</div>
				<div class="balance">
					<h4>0 ₽</h4>
					<div class="row balance-btns">
						<a href="#" class="balance-btn">Вывести</a>
					</div>
				</div>
			</div>

			<div class="finance-empty">
				{{Icon iconName="inbox"}}
				<p>У вас не было ни одной транзакции</p>
			</div>
		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>