<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header }}

	<div class="finance">
		<div class="wrapper">
			{{> bread/bread }}
			<div class="finance-row">
				<div class="title">Финансы</div>
				<div class="balance">
					<h4>280 ₽</h4>
					<div class="row balance-btns">
						<a href="#" class="balance-btn" data-popup-open="popup-up">Пополнить</a>
						<a href="#" class="balance-btn" data-popup-open="popup-money">Вывести</a>
					</div>
				</div>
			</div>
		</div>

		<div class="product-filters">
			<div class="wrapper">
				<form action="" class="row">
					<div class="product-select">
						<select class="nice">
							<option value="0">Все</option>
							<option value="1">Все</option>
							<option value="2">Все</option>
						</select>
					</div>
					<div class="row finance-period">
						<p>Период</p>
						<div class="product-input">
							<input type="text" placeholder="c">
						</div>
						<div class="product-input">
							<input type="text" placeholder="по">
						</div>
					</div>
					<div class="product-input">
						<input type="text" placeholder="Номер заказа">
						<button class="btn">{{Icon iconName="search"}}</button>
					</div>
					<div class="product-input">
						<input type="text" placeholder="ID сделки">
						<button class="btn">{{Icon iconName="search"}}</button>
					</div>
					<div class="finance-buttons">
						<button class="sales-btn sales-cancel">Сбросить</button>
						<button class="sales-btn sales-accept">Применить</button>
					</div>
				</form>
			</div>
		</div>

		<div class="wrapper">
			<div class="finance-table">
				<div class="row finance-head">
					<div class="row finance-id">
						{{Icon iconName="sort"}}
						<span>ID</span>
					</div>
					<div class="row finance-date">
						{{Icon iconName="sort"}}
						<span>Дата</span>
					</div>
					<div class="row finance-num">
						{{Icon iconName="sort"}}
						<span>Номер заказа</span>
					</div>
					<div class="row finance-type">
						{{Icon iconName="sort"}}
						<span>Тип транзакции</span>
					</div>
					<div class="row finance-status">
						{{Icon iconName="sort"}}
						<span>Статус</span>
					</div>
					<div class="row finance-operation">
						{{Icon iconName="sort"}}
						<span>Операция</span>
					</div>
					<div class="row finance-residue">
						{{Icon iconName="sort"}}
						<span>Остаток</span>
					</div>
				</div>
				<div class="finance-body">
					<div class="finance-row">
						<div class="finance-id">
							12
						</div>
						<div class="finance-date">
							19 февраля, 10:47  <span>3 месяца назад</span>
						</div>
						<div class="finance-num">
							#7021282
						</div>
						<div class="finance-type">
							Покупка
						</div>
						<div class="finance-status">
							<div class="status status-process">В обработке</div>
						</div>
						<div class="finance-operation minus">
							- 111.62 ₽
						</div>
						<div class="finance-residue">
							24 ₽
						</div>
					</div>
					<div class="finance-row">
						<div class="finance-id">
							11
						</div>
						<div class="finance-date">
							12 февраля, 19:52 <span>3 месяца назад</span>
						</div>
						<div class="finance-num">
							#7021428
						</div>
						<div class="finance-type">
							Продажа
						</div>
						<div class="finance-status">
							<div class="status status-error">Отказ</div>
						</div>
						<div class="finance-operation plus">
							+ 640 ₽
						</div>
						<div class="finance-residue">
							1 200 ₽
						</div>
					</div>
					<div class="finance-row">
						<div class="finance-id">
							12
						</div>
						<div class="finance-date">
							19 февраля, 10:47  <span>3 месяца назад</span>
						</div>
						<div class="finance-num">
							#7021282
						</div>
						<div class="finance-type">
							Вывод средств
						</div>
						<div class="finance-status">
							<div class="status status-success">Завершен</div>
						</div>
						<div class="finance-operation minus">
							- 111.62 ₽
						</div>
						<div class="finance-residue">
							24 ₽
						</div>
					</div>
					<div class="finance-row">
						<div class="finance-id">
							11
						</div>
						<div class="finance-date">
							12 февраля, 19:52 <span>3 месяца назад</span>
						</div>
						<div class="finance-num">
							#7021428
						</div>
						<div class="finance-type">
							Пополнение баланса
						</div>
						<div class="finance-status">
							<div class="status status-success">Завершен</div>
						</div>
						<div class="finance-operation plus">
							+ 640 ₽
						</div>
						<div class="finance-residue">
							1 200 ₽
						</div>
					</div>
					<div class="finance-row">
						<div class="finance-id">
							12
						</div>
						<div class="finance-date">
							19 февраля, 10:47  <span>3 месяца назад</span>
						</div>
						<div class="finance-num">
							#7021282
						</div>
						<div class="finance-type">
							Покупка
						</div>
						<div class="finance-status">
							<div class="status status-success">Завершен</div>
						</div>
						<div class="finance-operation minus">
							- 111.62 ₽
						</div>
						<div class="finance-residue">
							24 ₽
						</div>
					</div>
					<div class="finance-row">
						<div class="finance-id">
							11
						</div>
						<div class="finance-date">
							12 февраля, 19:52 <span>3 месяца назад</span>
						</div>
						<div class="finance-num">
							#7021428
						</div>
						<div class="finance-type">
							Продажа
						</div>
						<div class="finance-status">
							<div class="status status-success">Завершен</div>
						</div>
						<div class="finance-operation plus">
							+ 640 ₽
						</div>
						<div class="finance-residue">
							1 200 ₽
						</div>
					</div>
					<div class="finance-row">
						<div class="finance-id">
							12
						</div>
						<div class="finance-date">
							19 февраля, 10:47  <span>3 месяца назад</span>
						</div>
						<div class="finance-num">
							#7021282
						</div>
						<div class="finance-type">
							Вывод средств
						</div>
						<div class="finance-status">
							<div class="status status-success">Завершен</div>
						</div>
						<div class="finance-operation minus">
							- 111.62 ₽
						</div>
						<div class="finance-residue">
							24 ₽
						</div>
					</div>
					<div class="finance-row">
						<div class="finance-id">
							11
						</div>
						<div class="finance-date">
							12 февраля, 19:52 <span>3 месяца назад</span>
						</div>
						<div class="finance-num">
							#7021428
						</div>
						<div class="finance-type">
							Пополнение баланса
						</div>
						<div class="finance-status">
							<div class="status status-success">Завершен</div>
						</div>
						<div class="finance-operation plus">
							+ 640 ₽
						</div>
						<div class="finance-residue">
							1 200 ₽
						</div>
					</div>
				</div>
			</div>

			<div class="finance-text">
				GOUP! не является банком, платежной систеомй или иной финансово организацией и не ведет расчетные счета пользователей. Кабинет GOUP!  обеспечивает лишь удобство расчеов между Клиентами, Игроками и Агентом.
			</div>
		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>