<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	<div class="index">
		<div class="index-left">
			<a href="/" class="logo">
				<img src="%=static=%img/general/logo.svg" alt="Главная">
			</a>

			<div class="product-content">
				<img src="%=static=%img/general/gta.png" alt="">
				<h1 class="title">Аккаунты GTA 5</h1>
				<p class="description">Grand Theft Auto V — мультиплатформенная компьютерная игра в жанре action-adventure с открытым миром, разработанная компанией Rockstar North и изданная компанией Rockstar Games.</p>
				<a href="#" class="sell">
					Продать аккаунт
				</a>	
			</div>
		</div>
		<div class="index-content">
			<div class="row index-header">
				<a href="/" class="logo">
					<img src="%=static=%img/general/logo2.svg" alt="">
				</a>
				<div class="search">
					<input type="text" placeholder="Поиск среди 213 игр">
					{{Icon iconName="search"}}
				</div>
				<nav class="row nav">
					<a href="#" class="nav-link">Помощь</a>
				</nav>
				<div class="row auth">
					<div class="btn login">
						Войти
					</div>
					<div class="btn register">
						Регистрация
					</div>
				</div>
			</div>

			<div class="row index-sort">
				<div class="row popup-labels">
					<label>
						<input type="radio" name="server" checked>
						<span class="custom">PC</span>
					</label>
					<label>
						<input type="radio" name="server">
						<span class="custom">Social Club</span>
					</label>
				</div>
			</div>

			{{> filters/filters }}

			<ul class="row product-ul">
				<li class="row product-li active">Аккаунты <span>1842</span></li>
				<li class="row product-li">Услуги <span>899</span></li>
			</ul>

			<div class="product-tab active"> <!-- таб аккаунты -->

				<div class="product-table">
					<div class="row table-head">
						<div class="table-server">
							Сервер
						</div>
						<div class="table-desc">
							Описание
						</div>
						<div class="table-seller">
							Продавец
						</div>
						<div class="table-price">
							Цена
						</div>
					</div>
					<div class="table-body">
						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-desc">⚜️ АККАУНТ GTA 5 ONLINE | Premium Edition | EPIC GAMES || 1.000.0001 || СМЕНА ВСЕХ ДАННЫХ ⚜️</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">Dantevsky</div>
									<div class="seller-reviews">230 отзывов</div>
									<div class="seller-time">на сайте месяц</div>
								</div>
							</div>
							<div class="table-price">
								111.62 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								Social Club
							</div>
							<div class="table-desc">☆GTA5 PREMIUM EDITION☆》1КК $》КУПОН》ГАРАНТИИ!</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status offline"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">BanMachine</div>
									<div class="seller-reviews">Нет отзывов</div>
									<div class="seller-time">на сайте 2 года</div>
								</div>
							</div>
							<div class="table-price">
								55.56 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-desc">✅ АККАУНТ GTA 5 ONLINE ⭐ Premium Edition +1.000.000$ ⭐ EPIC GAMES ✅</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">Sergio31</div>
									<div class="seller-reviews">12 отзывов</div>
									<div class="seller-time">на сайте 2 месяца</div>
								</div>
							</div>
							<div class="table-price">
								222.23 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-desc">☑️ ⚔️ КЛЮЧ АКТИВАЦИИ GTA 5 ONLINE</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">RaymonHard</div>
									<div class="seller-reviews">40 отзывов</div>
									<div class="seller-time">на сайте 3 дня</div>
								</div>
							</div>
							<div class="table-price">
								777.72 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								Social Club
							</div>
							<div class="table-desc">(Epic Games) акк Premium GTA 5, полный доступ,1кк+почта, Civilization 6, ARK,Borderlands2</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status offline"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">HellYeahPlay</div>
									<div class="seller-reviews">1.2K отзывов</div>
									<div class="seller-time">на сайте 12 лет</div>
								</div>
							</div>
							<div class="table-price">
								111.11 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-desc">❤️☘️✳️(МИЛЛИАРД!!!) $1.000.000.000✳️EGS⭐ GTA 5⭐Можно открыть все и любой LVL по желанию⚜️☀️☘️❤️</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">OlegGdeMaket</div>
									<div class="seller-reviews">12 отзывов</div>
									<div class="seller-time">на сайте 4 месяца</div>
								</div>
							</div>
							<div class="table-price">
								75.22 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-desc">⚜️ АККАУНТ GTA 5 ONLINE | Premium Edition | EPIC GAMES || 1.000.0001 || СМЕНА ВСЕХ ДАННЫХ ⚜️</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">Dantevsky</div>
									<div class="seller-reviews">230 отзывов</div>
									<div class="seller-time">на сайте месяц</div>
								</div>
							</div>
							<div class="table-price">
								111.62 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								Social Club
							</div>
							<div class="table-desc">☆GTA5 PREMIUM EDITION☆》1КК $》КУПОН》ГАРАНТИИ!</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status offline"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">BanMachine</div>
									<div class="seller-reviews">Нет отзывов</div>
									<div class="seller-time">на сайте 2 года</div>
								</div>
							</div>
							<div class="table-price">
								55.56 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-desc">✅ АККАУНТ GTA 5 ONLINE ⭐ Premium Edition +1.000.000$ ⭐ EPIC GAMES ✅</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">Sergio31</div>
									<div class="seller-reviews">12 отзывов</div>
									<div class="seller-time">на сайте 2 месяца</div>
								</div>
							</div>
							<div class="table-price">
								222.23 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-desc">☑️ ⚔️ КЛЮЧ АКТИВАЦИИ GTA 5 ONLINE</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">RaymonHard</div>
									<div class="seller-reviews">40 отзывов</div>
									<div class="seller-time">на сайте 3 дня</div>
								</div>
							</div>
							<div class="table-price">
								777.72 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								Social Club
							</div>
							<div class="table-desc">(Epic Games) акк Premium GTA 5, полный доступ,1кк+почта, Civilization 6, ARK,Borderlands2</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status offline"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">HellYeahPlay</div>
									<div class="seller-reviews">1.2K отзывов</div>
									<div class="seller-time">на сайте 12 лет</div>
								</div>
							</div>
							<div class="table-price">
								111.11 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-desc">❤️☘️✳️(МИЛЛИАРД!!!) $1.000.000.000✳️EGS⭐ GTA 5⭐Можно открыть все и любой LVL по желанию⚜️☀️☘️❤️</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">OlegGdeMaket</div>
									<div class="seller-reviews">12 отзывов</div>
									<div class="seller-time">на сайте 4 месяца</div>
								</div>
							</div>
							<div class="table-price">
								75.22 ₽
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="product-tab"> <!-- таб услуги -->

				<div class="product-table">
					<div class="row table-head">
						<div class="table-server">
							Сервер
						</div>
						<div class="table-desc">
							Описание
						</div>
						<div class="table-seller">
							Продавец
						</div>
						<div class="table-price">
							Цена
						</div>
					</div>
					<div class="table-body">
						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-desc">⚜️ АККАУНТ GTA 5 ONLINE | Premium Edition | EPIC GAMES || 1.000.0001 || СМЕНА ВСЕХ ДАННЫХ ⚜️</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">Dantevsky</div>
									<div class="seller-reviews">230 отзывов</div>
									<div class="seller-time">на сайте месяц</div>
								</div>
							</div>
							<div class="table-price">
								111.62 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								Social Club
							</div>
							<div class="table-desc">☆GTA5 PREMIUM EDITION☆》1КК $》КУПОН》ГАРАНТИИ!</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status offline"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">BanMachine</div>
									<div class="seller-reviews">Нет отзывов</div>
									<div class="seller-time">на сайте 2 года</div>
								</div>
							</div>
							<div class="table-price">
								55.56 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-desc">✅ АККАУНТ GTA 5 ONLINE ⭐ Premium Edition +1.000.000$ ⭐ EPIC GAMES ✅</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">Sergio31</div>
									<div class="seller-reviews">12 отзывов</div>
									<div class="seller-time">на сайте 2 месяца</div>
								</div>
							</div>
							<div class="table-price">
								222.23 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-desc">☑️ ⚔️ КЛЮЧ АКТИВАЦИИ GTA 5 ONLINE</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">RaymonHard</div>
									<div class="seller-reviews">40 отзывов</div>
									<div class="seller-time">на сайте 3 дня</div>
								</div>
							</div>
							<div class="table-price">
								777.72 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								Social Club
							</div>
							<div class="table-desc">(Epic Games) акк Premium GTA 5, полный доступ,1кк+почта, Civilization 6, ARK,Borderlands2</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status offline"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">HellYeahPlay</div>
									<div class="seller-reviews">1.2K отзывов</div>
									<div class="seller-time">на сайте 12 лет</div>
								</div>
							</div>
							<div class="table-price">
								111.11 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-desc">❤️☘️✳️(МИЛЛИАРД!!!) $1.000.000.000✳️EGS⭐ GTA 5⭐Можно открыть все и любой LVL по желанию⚜️☀️☘️❤️</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">OlegGdeMaket</div>
									<div class="seller-reviews">12 отзывов</div>
									<div class="seller-time">на сайте 4 месяца</div>
								</div>
							</div>
							<div class="table-price">
								75.22 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-desc">⚜️ АККАУНТ GTA 5 ONLINE | Premium Edition | EPIC GAMES || 1.000.0001 || СМЕНА ВСЕХ ДАННЫХ ⚜️</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">Dantevsky</div>
									<div class="seller-reviews">230 отзывов</div>
									<div class="seller-time">на сайте месяц</div>
								</div>
							</div>
							<div class="table-price">
								111.62 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								Social Club
							</div>
							<div class="table-desc">☆GTA5 PREMIUM EDITION☆》1КК $》КУПОН》ГАРАНТИИ!</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status offline"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">BanMachine</div>
									<div class="seller-reviews">Нет отзывов</div>
									<div class="seller-time">на сайте 2 года</div>
								</div>
							</div>
							<div class="table-price">
								55.56 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-desc">✅ АККАУНТ GTA 5 ONLINE ⭐ Premium Edition +1.000.000$ ⭐ EPIC GAMES ✅</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">Sergio31</div>
									<div class="seller-reviews">12 отзывов</div>
									<div class="seller-time">на сайте 2 месяца</div>
								</div>
							</div>
							<div class="table-price">
								222.23 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-desc">☑️ ⚔️ КЛЮЧ АКТИВАЦИИ GTA 5 ONLINE</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">RaymonHard</div>
									<div class="seller-reviews">40 отзывов</div>
									<div class="seller-time">на сайте 3 дня</div>
								</div>
							</div>
							<div class="table-price">
								777.72 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								Social Club
							</div>
							<div class="table-desc">(Epic Games) акк Premium GTA 5, полный доступ,1кк+почта, Civilization 6, ARK,Borderlands2</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status offline"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">HellYeahPlay</div>
									<div class="seller-reviews">1.2K отзывов</div>
									<div class="seller-time">на сайте 12 лет</div>
								</div>
							</div>
							<div class="table-price">
								111.11 ₽
							</div>
						</div>
						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-desc">❤️☘️✳️(МИЛЛИАРД!!!) $1.000.000.000✳️EGS⭐ GTA 5⭐Можно открыть все и любой LVL по желанию⚜️☀️☘️❤️</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">OlegGdeMaket</div>
									<div class="seller-reviews">12 отзывов</div>
									<div class="seller-time">на сайте 4 месяца</div>
								</div>
							</div>
							<div class="table-price">
								75.22 ₽
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>