<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header }}

	<div class="help helpPage">
		<div class="help-box">
			<div class="wrapper">
				{{> bread/bread }}
				<div class="title">Правила для продавцов</div>
			</div>
		</div>
		
		<div class="wrapper">
			<div class="help-block">
				<div class="help-html help-html2">
					<p>Внимание! После размещения предложений оставайтесь на нашем сайте (не закрывайте страницу). В этом случае вы будете иметь статус «online», и покупатели смогут связываться с вами через внутренний чат.</p>
					<p> При продаже в некоторых разделах сайта система сама предлагает участникам заказа перейти в Discord (нужно просто нажать на ссылку), однако, обмен контактными данными в чате GOUP!или в самом Discord (например, добавление друг друга в друзья) по-прежнему является нарушением.</p>
					<p> Если вам необходимо обменяться контактными данными с другим продавцом (для совместного выполнения заказов), вы можете подать заявку в службу поддержки.</p>

					<h4>Правила для продавцов</h4>
					<table>
						<thead>
							<tr>
								<th>Нарушение</th>
								<th>Санкции</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Передача другому пользователю контактных данных (Skype, Discord, ВКонтакте, телефон и др.) любым способом. Использование контактных данных, полученных от другого пользователя. Связь с покупателем в игре после выполнения его заказа.</td>
								<td>Блокировка аккаунта. Отказ в выплатах.</td>
							</tr>
							<tr>
								<td>Попытка передачи товара или оказания услуги без проведения платежа через GOUP!(использование сервиса CashPass также запрещено). Обмен товарами или услугами.</td>
								<td>Блокировка всех аккаунтов. Отказ в выплатах. Аналогичная блокировка всех новых аккаунтов нарушителя по мере их обнаружения</td>
							</tr>
							<tr>
								<td>Использование названия интернет-ресурса (магазина, гарант-сервиса, форума и пр.) в качестве имени аккаунта.</td>
								<td>Переименование аккаунта.</td>
							</tr>
							<tr>
								<td>Накрутка отзывов.</td>
								<td>Удаление всех отзывов. Блокировка аккаунта при повторном нарушении.</td>
							</tr>
							<tr>
								<td>Осознанное размещение недействительных предложений либо предложений с недействительной ценой. Игнорирование заказов.</td>
								<td>Блокировка аккаунта (без отказа в выплатах).</td>
							</tr>
							<tr>
								<td>Обсуждение с покупателем комиссии сайта или цены, указанной продавцом. Разрешено обсуждение только той цены, которую видит покупатель.</td>
								<td>Штраф 250 ₽.</td>
							</tr>
							<tr>
								<td>Передача третьим лицам либо разглашение какой-либо информации (имя пользователя, идентификатор игрока, сумма и пр.) с целью нанесения вреда пользователю.</td>
								<td>Блокировка всех аккаунтов. Отказ в выплатах. Аналогичная блокировка всех новых аккаунтов нарушителя по мере их обнаружения.</td>
							</tr>
							<tr>
								<td>Дублирование предложений, засорение таблицы предложений. Размещение предложений о покупке.</td>
								<td>Удаление всех лотов. Блокировка аккаунта (без отказа в выплатах) при повторном нарушении.</td>
							</tr>
						</tbody>
					</table>

					<p>Запрещена продажа товаров, полученных неправомерным путем (взломом, брутом, кардингом и т. д.). Запрещено оказание услуг по обучению какой-либо неправомерной деятельности или продажа информации о ней. Запрещено просить покупателей подтверждать заказ до его фактического выполнения. Запрещено мошенничество. Запрещено проведение лотерей и розыгрышей. Запрещено использовать свой аватар нетрадиционным способом (текст, реклама, акции и др.)</p>
					<p>В том случае, если на вас поступит жалоба от другого пользователя, администрация может временно приостановить вывод средств с вашего аккаунта или временно заблокировать его для проведения соответствующего разбирательства.</p>
					<p>Блокировки аккаунтов осуществляются без предупреждений и уведомлений. Администрация оставляет за собой право на связь с продавцами под видом покупателей с целью выявления нарушений.</p>
				</div>	
				<div class="help-btn">
					<a href="#" class="btn">Принять условия</a>
				</div>

			</div>
		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>