<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header }}

	<div class="help">
		<div class="help-box">
			<div class="wrapper">
				{{> bread/bread }}
				<div class="title">Помощь</div>
				<div class="help-wrap">
					<div class="help-search">
						<div class="help-input">
							{{Icon iconName="search"}}
							<input type="text" class="input-help" placeholder="Есть вопрос?">
						</div>
						<div class="help-result">
							<div class="res">
								Результаты поиска
							</div>
							<a href="#" class="res-link">
								Абсолютное превосходство
							</a>
							<a href="#" class="res-link">
								Сроки выполнения заказа
							</a>
							<a href="#" class="res-link">
								Правильный выбор продавца
							</a>
						</div>
					</div>
					<ul class="row help-ul">
						<li class="help-li active">Общие вопросы</li>
						<li class="help-li">Информация для продавцов</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="help-tabs">
			<div class="wrapper">
				<div class="help-tab active">
					<div class="help-items">
						<div class="help-item">
							<h4>Общие вопросы</h4>
							<p>
								<a href="#" class="help-link">Абсолютное превосходство</a>
							</p>
							<p>
								<a href="#" class="help-link">Отзывы и мнения в интернете</a>
							</p>
							<p>
								<a href="#" class="help-link">Юридическая информация</a>
							</p>
							<p>
								<a href="#" class="help-link">Тёмная версия сайта</a>
							</p>
						</div>
						<div class="help-item">
							<h4>Совершение покупки</h4>
							<p>
								<a href="#" class="help-link">Абсолютное превосходство</a>
							</p>
							<p>
								<a href="#" class="help-link">Правильный выбор продавца</a>
							</p>
							<p>
								<a href="#" class="help-link">Защита от возврата (отката) купленного аккаунта, а также бана или других последствий</a>
							</p>
							<p>
								<a href="#" class="help-link">Доставка (выполнение) заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Сроки выполнения заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Отмена заказа</a>
							</p>
						</div>
						<div class="help-item">
							<h4>Финансы и баланс</h4>
							<p>
								<a href="#" class="help-link">Тёмная версия сайта</a>
							</p>
							<p>
								<a href="#" class="help-link">Отзывы и мнения в интернете</a>
							</p>
							<p>
								<a href="#" class="help-link">Защита сделок</a>
							</p>
							<p>
								<a href="#" class="help-link">Юридическая информация</a>
							</p>
							<p>
								<a href="#" class="help-link">Отмена заказа</a>
							</p>
						</div>
						<div class="help-item">
							<h4>Совершение покупки</h4>
							<p>
								<a href="#" class="help-link">Абсолютное превосходство</a>
							</p>
							<p>
								<a href="#" class="help-link">Правильный выбор продавца</a>
							</p>
							<p>
								<a href="#" class="help-link">Защита от возврата (отката) купленного аккаунта, а также бана или других последствий</a>
							</p>
							<p>
								<a href="#" class="help-link">Доставка (выполнение) заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Сроки выполнения заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Отмена заказа</a>
							</p>
						</div>
						<div class="help-item">
							<h4>Совершение покупки</h4>
							<p>
								<a href="#" class="help-link">Абсолютное превосходство</a>
							</p>
							<p>
								<a href="#" class="help-link">Правильный выбор продавца</a>
							</p>
							<p>
								<a href="#" class="help-link">Защита от возврата (отката) купленного аккаунта, а также бана или других последствий</a>
							</p>
							<p>
								<a href="#" class="help-link">Доставка (выполнение) заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Сроки выполнения заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Отмена заказа</a>
							</p>
						</div>
						<div class="help-item">
							<h4>Совершение покупки</h4>
							<p>
								<a href="#" class="help-link">Абсолютное превосходство</a>
							</p>
							<p>
								<a href="#" class="help-link">Правильный выбор продавца</a>
							</p>
							<p>
								<a href="#" class="help-link">Защита от возврата (отката) купленного аккаунта, а также бана или других последствий</a>
							</p>
							<p>
								<a href="#" class="help-link">Доставка (выполнение) заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Сроки выполнения заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Отмена заказа</a>
							</p>
						</div>
						<div class="help-item">
							<h4>Совершение покупки</h4>
							<p>
								<a href="#" class="help-link">Абсолютное превосходство</a>
							</p>
							<p>
								<a href="#" class="help-link">Правильный выбор продавца</a>
							</p>
							<p>
								<a href="#" class="help-link">Защита от возврата (отката) купленного аккаунта, а также бана или других последствий</a>
							</p>
							<p>
								<a href="#" class="help-link">Доставка (выполнение) заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Сроки выполнения заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Отмена заказа</a>
							</p>
						</div>
					</div>
				</div>
				<div class="help-tab">
					<div class="help-items">
						<div class="help-item">
							<h4>Общие вопросы</h4>
							<p>
								<a href="#" class="help-link">Абсолютное превосходство</a>
							</p>
							<p>
								<a href="#" class="help-link">Отзывы и мнения в интернете</a>
							</p>
							<p>
								<a href="#" class="help-link">Юридическая информация</a>
							</p>
							<p>
								<a href="#" class="help-link">Тёмная версия сайта</a>
							</p>
						</div>
						<div class="help-item">
							<h4>Совершение покупки</h4>
							<p>
								<a href="#" class="help-link">Абсолютное превосходство</a>
							</p>
							<p>
								<a href="#" class="help-link">Правильный выбор продавца</a>
							</p>
							<p>
								<a href="#" class="help-link">Защита от возврата (отката) купленного аккаунта, а также бана или других последствий</a>
							</p>
							<p>
								<a href="#" class="help-link">Доставка (выполнение) заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Сроки выполнения заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Отмена заказа</a>
							</p>
						</div>
						<div class="help-item">
							<h4>Финансы и баланс</h4>
							<p>
								<a href="#" class="help-link">Тёмная версия сайта</a>
							</p>
							<p>
								<a href="#" class="help-link">Отзывы и мнения в интернете</a>
							</p>
							<p>
								<a href="#" class="help-link">Защита сделок</a>
							</p>
							<p>
								<a href="#" class="help-link">Юридическая информация</a>
							</p>
							<p>
								<a href="#" class="help-link">Отмена заказа</a>
							</p>
						</div>
						<div class="help-item">
							<h4>Совершение покупки</h4>
							<p>
								<a href="#" class="help-link">Абсолютное превосходство</a>
							</p>
							<p>
								<a href="#" class="help-link">Правильный выбор продавца</a>
							</p>
							<p>
								<a href="#" class="help-link">Защита от возврата (отката) купленного аккаунта, а также бана или других последствий</a>
							</p>
							<p>
								<a href="#" class="help-link">Доставка (выполнение) заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Сроки выполнения заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Отмена заказа</a>
							</p>
						</div>
						<div class="help-item">
							<h4>Совершение покупки</h4>
							<p>
								<a href="#" class="help-link">Абсолютное превосходство</a>
							</p>
							<p>
								<a href="#" class="help-link">Правильный выбор продавца</a>
							</p>
							<p>
								<a href="#" class="help-link">Защита от возврата (отката) купленного аккаунта, а также бана или других последствий</a>
							</p>
							<p>
								<a href="#" class="help-link">Доставка (выполнение) заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Сроки выполнения заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Отмена заказа</a>
							</p>
						</div>
						<div class="help-item">
							<h4>Совершение покупки</h4>
							<p>
								<a href="#" class="help-link">Абсолютное превосходство</a>
							</p>
							<p>
								<a href="#" class="help-link">Правильный выбор продавца</a>
							</p>
							<p>
								<a href="#" class="help-link">Защита от возврата (отката) купленного аккаунта, а также бана или других последствий</a>
							</p>
							<p>
								<a href="#" class="help-link">Доставка (выполнение) заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Сроки выполнения заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Отмена заказа</a>
							</p>
						</div>
						<div class="help-item">
							<h4>Совершение покупки</h4>
							<p>
								<a href="#" class="help-link">Абсолютное превосходство</a>
							</p>
							<p>
								<a href="#" class="help-link">Правильный выбор продавца</a>
							</p>
							<p>
								<a href="#" class="help-link">Защита от возврата (отката) купленного аккаунта, а также бана или других последствий</a>
							</p>
							<p>
								<a href="#" class="help-link">Доставка (выполнение) заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Сроки выполнения заказа</a>
							</p>
							<p>
								<a href="#" class="help-link">Отмена заказа</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>