<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	<div class="index">
		<div class="index-left">
			<a href="/" class="logo">
				<img src="%=static=%img/general/logo.svg" alt="Главная">
			</a>
			<div class="swiper-container index-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<video autoplay loop muted playsinline>  
							<source src="orig.webm" type="video/webm" />  
							<source src="orig.mp4" type="video/mp4" />  
						</video> 
						<h1 class="title">Мы создали новый сервис</h1>
						<p class="description">Кинары (kinah) – это игровая валюта мира AION. Как и любые деньги, они позволяют получить массу преимуществ в игре. Покупайте кинары Aion на Руоффе, используя биржу игровых валют FunPay. Гарантируем безопасность и низкие цены. Кроме того, у нас можно приобрести кинары для Free и EU, NA серверов.</p>	
					</div>
					<div class="swiper-slide">
						<img src="%=static=%img/general/main.jpg" alt="Слайдер">
						<h1 class="title">Мы создали новый сервис</h1>
						<p class="description">Кинары (kinah) – это игровая валюта мира AION. Как и любые деньги, они позволяют получить массу преимуществ в игре. Покупайте кинары Aion на Руоффе, используя биржу игровых валют FunPay. Гарантируем безопасность и низкие цены. Кроме того, у нас можно приобрести кинары для Free и EU, NA серверов.</p>	
					</div>
				</div>
				<div class="row index-pagination"></div>
			</div>
		</div>
		<div class="index-content">
			<div class="row index-header">
				<a href="/" class="logo">
					<img src="%=static=%img/general/logo2.svg" alt="">
				</a>
				<form class="search" autocomplete="off">
					<input type="text" class="search-input" placeholder="Поиск среди 213 игр">
					{{Icon iconName="search"}}
					<div class="search-results">
						<h4>Результаты поиска</h4>
						<div class="games">
							<div class="game">
								<div class="game-name">Aion</div>
								<ul class="game-variants">
									<li class="game-variant active">RU</li>
									<li class="game-variant">EN, NA</li>
									<li class="game-variant">Free</li>
								</ul>
								<div class="game-links game-tab active"> <!-- Первый таб -->
									<a href="#" class="game-link">Кинары</a>
									<a href="#" class="game-link">Аккаунты</a>
									<a href="#" class="game-link">Предметы</a>
									<a href="#" class="game-link">Услуги</a>
								</div>
								<div class="game-links game-tab"> <!-- Второй таб -->
									<a href="#" class="game-link">Кинары</a>
									<a href="#" class="game-link">Аккаунты</a>
									<a href="#" class="game-link">Предметы</a>
									<a href="#" class="game-link">Услуги</a>
								</div>
								<div class="game-links game-tab"> <!-- Третий таб -->
									<a href="#" class="game-link">Кинары</a>
									<a href="#" class="game-link">Аккаунты</a>
									<a href="#" class="game-link">Предметы</a>
									<a href="#" class="game-link">Услуги</a>
								</div>
							</div>
							<div class="game">
								<div class="game-name">Albion Online</div>
								<div class="game-links">
									<a href="#" class="game-link">Серебро</a>
									<a href="#" class="game-link">Золото</a>
									<a href="#" class="game-link">Аккаунты</a>
									<a href="#" class="game-link">Предметы</a>
									<a href="#" class="game-link">Услуги</a>
								</div>
							</div>
							<div class="game">
								<div class="game-name">Albion Online</div>
								<div class="game-links">
									<a href="#" class="game-link">Серебро</a>
									<a href="#" class="game-link">Золото</a>
									<a href="#" class="game-link">Аккаунты</a>
									<a href="#" class="game-link">Предметы</a>
									<a href="#" class="game-link">Услуги</a>
								</div>
							</div>
						</div>
					</div>
				</form>
				<nav class="row nav">
					<a href="#" class="nav-link">Помощь</a>
					<a href="#" class="nav-link">Финансы</a>
					<a href="#" class="nav-link">Сообщения</a>
				</nav>
				<div class="row user">
					<div class="user-icon">
						<img src="%=static=%img/general/user.png" alt="Профиль">
					</div>
					<div class="user-info">
						<div class="user-name">Dantevsky</div>
						<div class="user-balance">Баланс: <span>280 ₽</span> </div>

						<div class="user-popup">
							<div class="user-links">
								<a href="#" class="row user-link">
									<span>Мой профиль</span>
								</a>
								<a href="#" class="row user-link">
									<span>Русский язык</span>
									<img src="%=static=%img/general/russia.svg" alt="">
								</a>
							</div>
							<div class="user-links">
								<a href="#" class="row user-link">Покупки</a>
								<a href="#" class="row user-link">Продажи</a>
							</div>
							<div class="user-links">
								<a href="#" class="row user-link">Выйти</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="similar">
				<h4>Популярные товары</h4>
				<div class="similar-slider">
					<div class="swiper-container similar-container">
						<div class="swiper-wrapper">
							<a href="#" class="swiper-slide">
								<img src="%=static=%img/general/dota.png" alt="Dota">
								<span class="similar-name">Аккаунты Dota 2</span>
								<span class="similar-num">1 249  предложений</span>
							</a>
							<a href="#" class="swiper-slide">
								<img src="%=static=%img/general/cs.png" alt="Cs">
								<span class="similar-name">Скины CS:GO</span>
								<span class="similar-num">1 249  предложений</span>
							</a>
							<a href="#" class="swiper-slide">
								<img src="%=static=%img/general/brawl.png" alt="Brawl">
								<span class="similar-name">Аккаунты Brawl Stars</span>
								<span class="similar-num">1 249  предложений</span>
							</a>
							<a href="#" class="swiper-slide">
								<img src="%=static=%img/general/hs.png" alt="Hs">
								<span class="similar-name">Аккаунты Battle.net</span>
								<span class="similar-num">1 249  предложений</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="list">
				<div class="subtitle">Список игр</div>
				<div class="list-search">
					<input type="text" placeholder="Поиск среди 213 игр">
					{{Icon iconName="search"}}
				</div>
			</div>

			<div class="games-wrap">
				<div class="games">
					<div class="games-alph" data-letter="A">
						<div class="game">
							<div class="game-name">Aion</div>
							<ul class="game-variants">
								<li class="game-variant active">RU</li>
								<li class="game-variant">EN, NA</li>
								<li class="game-variant">Free</li>
							</ul>
							<div class="game-links game-tab active"> <!-- Первый таб -->
								<a href="#" class="game-link">Кинары</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Первый</a>
							</div>
							<div class="game-links game-tab"> <!-- Второй таб -->
								<a href="#" class="game-link">Кинары</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Второй</a>
							</div>
							<div class="game-links game-tab"> <!-- Третий таб -->
								<a href="#" class="game-link">Кинары</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Третий</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Albion Online</div>
							<div class="game-links">
								<a href="#" class="game-link">Серебро</a>
								<a href="#" class="game-link">Золото</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Anomaly Zone</div>
							<div class="game-links">
								<a href="#" class="game-link">Золотые рубли</a>
								<a href="#" class="game-link">Серебряные рубли</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Anthem</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">APB: Reloaded</div>
							<div class="game-links">
								<a href="#" class="game-link">Доллары</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Apex Legends</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Буст</a>
								<a href="#" class="game-link">Достижения</a>
								<a href="#" class="game-link">Обучение</a>
								<a href="#" class="game-link">Прочее</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">ArcheAge</div>
							<ul class="game-variants">
								<li class="game-variant active">RU</li>
								<li class="game-variant">EN, NA</li>
								<li class="game-variant">Free</li>
							</ul>
							<div class="game-links game-tab active"> <!-- Первый таб -->
								<a href="#" class="game-link">Кинары</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
							<div class="game-links game-tab"> <!-- Второй таб -->
								<a href="#" class="game-link">Кинары</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
							<div class="game-links game-tab"> <!-- Третий таб -->
								<a href="#" class="game-link">Кинары</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">ArcheAge: Unchained</div>
							<div class="game-links">
								<a href="#" class="game-link">Золото</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">ARK: Survival Evolved</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Arma 3</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Armored Warfare: Армата</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Artifact</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Карты</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Assassin’s Creed</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Astellia Online</div>
							<div class="game-links">
								<a href="#" class="game-link">Золото</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
					</div>
					<div class="games-alph" data-letter="B">
						<div class="game">
							<div class="game-name">Battle.net</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты с играми</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Battlefield</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Black Desert</div>
							<ul class="game-variants">
								<li class="game-variant active">RU</li>
								<li class="game-variant">EN, NA</li>
								<li class="game-variant">Free</li>
							</ul>
							<div class="game-links game-tab active"> <!-- Первый таб -->
								<a href="#" class="game-link">Кинары</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Первый</a>
							</div>
							<div class="game-links game-tab"> <!-- Второй таб -->
								<a href="#" class="game-link">Кинары</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Второй</a>
							</div>
							<div class="game-links game-tab"> <!-- Третий таб -->
								<a href="#" class="game-link">Кинары</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Третий</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Black Desert Mobile</div>
							<div class="game-links">
								<a href="#" class="game-link">Серебро</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Blade & Soul</div>
							<ul class="game-variants">
								<li class="game-variant active">RU</li>
								<li class="game-variant">EN, NA</li>
								<li class="game-variant">Free</li>
							</ul>
							<div class="game-links">
								<a href="#" class="game-link">Золото</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Прокачка</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Bless Online</div>
							<div class="game-links">
								<a href="#" class="game-link">Золото</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Blood And Soul</div>
							<div class="game-links">
								<a href="#" class="game-link">Золото</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Borderlands 3</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Brawl Stars</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Буст</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
					</div>
					<div class="games-alph" data-letter="C">
						<div class="game">
							<div class="game-name">Cabal Online</div>
							<div class="game-links">
								<a href="#" class="game-link">Alz</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Call of Duty</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Услуги</a>
								<a href="#" class="game-link">Предметы</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Castle Clash</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Clash of Clans</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Услуги</a>
								<a href="#" class="game-link">Предметы</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Clash of Kings</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Clash Royale</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Буст</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Closers</div>
							<div class="game-links">
								<a href="#" class="game-link">Кредиты</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Conqueror's Blade</div>
							<div class="game-links">
								<a href="#" class="game-link">Серебряные монеты</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Contract Wars</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Counter-Strike: GO</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Буст</a>
								<a href="#" class="game-link">Обучение</a>
								<a href="#" class="game-link">Скины</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">CrossFire</div>
							<div class="game-links">
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Промокоды</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Crossout</div>
							<div class="game-links">
								<a href="#" class="game-link">Монеты</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
					</div>
				</div>
				<div class="alphabet">
					<a href="#" class="active">A</a>
					<a href="#">B</a>
					<a href="#">C</a>
					<a href="#">D</a>
					<a href="#">E</a>
					<a href="#">F</a>
					<a href="#">G</a>
					<a href="#">H</a>
					<a href="#">I</a>
					<a href="#">K</a>
					<a href="#">L</a>
					<a href="#">M</a>
					<a href="#">N</a>
					<a href="#">O</a>
					<a href="#">P</a>
					<a href="#">R</a>
					<a href="#">S</a>
					<a href="#">T</a>
					<a href="#">U</a>
					<a href="#">V</a>
					<a href="#">W</a>
					<a href="#">А</a>
					<a href="#">Б</a>
					<a href="#">В</a>
					<a href="#">Г</a>
					<a href="#">Д</a>
					<a href="#">Е</a>
				</div>
			</div>
		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>