<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	<div class="modalPage joinPage">
		{{> header/modal-header }}

		<div class="modal modal-join">
			<div class="modal-inner">
				<div class="modal-title">Вход в аккаунт</div>
				<form action="" class="popup-form valid-form">
					<div class="popup-input">
						<span>Логин</span>
						<input type="text" placeholder="Эл. почта или ник" name="email">
					</div>
					<div class="popup-input">
						<div class="modal-wrap">
							<span>Пароль</span>
							<a href="recover.html">Забыли пароль?</a>
						</div>
						<input type="password" placeholder="Введите ваш пароль" name="password">
						<div class="input-icon">
							{{Icon iconName="eye"}}
						</div>
					</div>
					<label class="modal-label">
						<input type="checkbox">
						<span class="custom">
							{{Icon iconName="checked"}}
						</span>
						<span class="text">Запомнить меня</span>
					</label>
					<div class="popup-btn">
						<button>Войти</button>
					</div>
				</form>
			</div>
			<div class="modal-bottom">
				<a href="register.html">Регистрация</a>
			</div>
		</div>

		{{> footer/modal-footer }}
	</div>

	{{> bottom/bottom }}
</body>

</html>