<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header }}

	<div class="profile">
		<div class="wrapper">
			
			<div class="row notMail">
				{{Icon iconName="mail"}}
				<span>Подтвердите эл. почту! Вам отпралено письмо, на указанный при регистрации E-mail</span>
			</div>

			<div class="row profile-box">
				<div class="row seller">
					<div class="seller-icon">
						<img src="%=static=%img/general/default.png" alt="Avatar">
						<div class="seller-status online"></div>
					</div>
					<div class="seller-info">
						<div class="row seller-name">
							<span>Anton321</span>
							<a href="#" class="edit">
								{{Icon iconName="edit"}}
							</a>
						</div>
						<div class="seller-time">на сайте 1 день</div>
					</div>
				</div>

				<div class="row profile-info">
					<div class="profile-info-item">
						<div class="row profile-info-num">
							0
							<div class="star active">
								{{Icon iconName="star"}}
							</div>
						</div>
						<span>рейтинг</span>
					</div>
					<div class="profile-info-item">
						<div class="row profile-info-num">
							0
						</div>
						<span>кол. товаров</span>
					</div>
					<div class="profile-info-item">
						<div class="row profile-info-num">
							0
						</div>
						<span>закрытых сделок</span>
					</div>
				</div>

				<div class="profile-balance">
					<div class="balance">0 ₽</div>
					<div class="row balance-btns">
						<a href="#" data-popup-open="popup-up">Пополнить</a>
						<a href="#" data-popup-open="popup-money">Вывести</a>
					</div>
				</div>
			</div>
			<div class="profile-wrap">
				<div class="profile-left">
					<div class="profile-buy">
						<h4>Ваши предложения</h4>

						<button class="add" disabled>
							+ Добавить предложение
						</button>

						<div class="new">
							{{Icon iconName="new"}}
							<span>Добавьте свой первый лот на продажу, и начните зарабатывать с GOUP!</span>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>