<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header }}

	<div class="profile">
		<div class="wrapper">
			<div class="row profile-box">
				<div class="row seller">
					<div class="seller-icon">
						<img src="%=static=%img/general/seller1.png" alt="Avatar">
						<div class="seller-status online"></div>
					</div>
					<div class="seller-info">
						<div class="row seller-name">
							<span>Dantevsky</span>
							<a href="#" class="edit">
								{{Icon iconName="edit"}}
							</a>
						</div>
						<div class="seller-time">на сайте 4 месяца</div>
					</div>
				</div>

				<div class="row profile-info">
					<div class="profile-info-item">
						<div class="row profile-info-num">
							5
							<div class="star active">
								{{Icon iconName="star"}}
							</div>
						</div>
						<span>рейтинг</span>
					</div>
					<div class="profile-info-item">
						<div class="row profile-info-num">
							1
						</div>
						<span>кол. товаров</span>
					</div>
					<div class="profile-info-item">
						<div class="row profile-info-num">
							3
						</div>
						<span>закрытых сделок</span>
					</div>
				</div>

				<div class="profile-balance">
					<div class="balance">280 ₽</div>
					<div class="row balance-btns">
						<a href="#" data-popup-open="popup-up">Пополнить</a>
						<a href="#" data-popup-open="popup-money">Вывести</a>
					</div>
				</div>
			</div>
			<div class="profile-wrap">
				<div class="profile-left">
					<div class="profile-buy">
						<h4>Ваши предложения</h4>

						<div class="add">
							+ Добавить предложение
						</div>

						<div class="profile-table">
							<div class="profile-table-name">Аккаунты Dota 2</div>
							<div class="table">
								<table>
									<thead>
										<tr>
											<th>Сервер</th>
											<th>Описание</th>
											<th>Цена/1кк</th>
										</tr>
									</thead>
									<tbody>
										<tr onclick="window.location.href='#'; return false">
											<td>EU</td>
											<td>✔ ️⭐ VHS Аккаунт с 1-ой игры ⭐ 6К мейн ⭐ ✔️</td>
											<td>722 ₽</td>
										</tr>
										<tr onclick="window.location.href='#'; return false">
											<td>RU</td>
											<td>✔ ️⭐ VHS Аккаунт с 1-ой игры ⭐ 6К мейн ⭐ ✔️ ✔ ️⭐ VHS Аккаунт с 1-ой игры ⭐ 6К мейн ⭐ ✔️</td>
											<td>722 ₽</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="profile-table">
							<div class="profile-table-name">Аккаунты Dota 2</div>
							<div class="table">
								<table>
									<thead>
										<tr>
											<th>Сервер</th>
											<th>Описание</th>
											<th>Количество</th>
											<th>Количество</th>
											<th>Количество</th>
											<th>Количество</th>
											<th>Цена/1кк</th>
										</tr>
									</thead>
									<tbody>
										<tr onclick="window.location.href='#'; return false">
											<td>EU</td>
											<td>✔ ️⭐ VHS Аккаунт с 1-ой игры ⭐ 6К мейн ⭐ ✔️</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>722 ₽</td>
										</tr>
										<tr onclick="window.location.href='#'; return false">
											<td>RU</td>
											<td>✔ ️⭐ VHS Аккаунт с 1-ой игры ⭐ 6К мейн ⭐ ✔️ ✔ ️⭐ VHS Аккаунт с 1-ой игры ⭐ 6К мейн ⭐ ✔️</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>722 ₽</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					{{> reviews/reviews }}
				</div>
			</div>
		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>