<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header }}

	<div class="profileEdit">
		<div class="wrapper">
			<a href="#" class="row back">
				{{Icon iconName="back"}}
				<span>Вернуться в аккаунт</span>
			</a>
			<div class="title">Редактировать профиль</div>
			
			<div class="profileEdit-content">
				<form class="profileEdit-form">
					<div class="profileEdit-photo">
						<div class="profileEdit-img">
							<img src="%=static=%img/general/default.png">
						</div>
						<div class="profileEdit-file">
							<p>Формат: jpg, gif, png.</p>
							<p>Максимальный размер файла: 2Mb.</p>
							<p>Рекомендованный размер: 200х200 px.</p>
							<label>
								Загрузить фото
								<input type="file" name="file" id="file" accept="image/jpeg,image/png, image/gif">
							</label>
						</div>
					</div>

					<div class="profileEdit-info">
						<div class="profileEdit-item">
							<h4>Личная информация</h4>
							<div class="inputs">
								<div class="input">
									<span>Логин</span>
									<input type="text" value="Dantevsky" disabled>
								</div>
								<div class="input">
									<span>Часовой пояс</span>
									<select class="nice">
										<option value="1">(UTC+3) Московское время</option>
										<option value="2">(UTC+4) Московское время</option>
										<option value="3">(UTC+5) Московское время</option>
										<option value="4">(UTC+6) Московское время</option>	
									</select>
								</div>
								<div class="input">
									<span>Электронная почта</span>
									<input type="text" value="hello.dantevsky@gmail.com" disabled>
									<div class="input-edit" data-popup-open="popup-email">
										{{Icon iconName="edit"}}
									</div>
								</div>
							</div>
						</div>

						<div class="row profileEdit-buttons">
							<button class="btn accept">Сохранить изменения</button>
						</div>
					</div>
				</form>
			</div>

			<div class="profileEdit-content">
				<form class="valid-form requisites-form" autocomplete="off">
					<div class="profileEdit-item profileEdit-password">
						<h4>Реквизиты</h4>
						<div class="inputs">
							<div class="input">
								<span>Номер банковской карты</span>
								<input type="text" class="card-input" name="card" placeholder="0000 0000 0000 0000">
							</div>
							<div class="input">
								<span>Qiwi</span>
								<input type="text" class="qiwi-input" placeholder="+7 000 000 00 00">
							</div>
							<div class="input">
								<span>WebMoney WMR</span>
								<input type="text" class="wmr-input" placeholder="R999999999999">
							</div>
							<div class="input">
								<span>WebMoney WMZ</span>
								<input type="text" class="wmz-input" placeholder="Z999999999999">
							</div>
							<div class="input">
								<span>Yoomoney</span>
								<input type="text" class="yoomoney-input" placeholder="000000000000000">
							</div>
						</div>
					</div>
					<div class="row profileEdit-buttons">
						<button class="btn accept">Сохранить изменения</button>
					</div>
				</form>
				<form class="valid-form">
					<div class="profileEdit-item profileEdit-password">
						<h4>Смена пароля</h4>
						<div class="inputs">
							<div class="input">
								<span>Старый пароль</span>
								<input type="password" name="password" id="old-pass">
								<div class="input-icon input-on">
									{{Icon iconName="eye"}}
									{{Icon iconName="eye2"}}
									<div class="input-hint">Показать пароль</div>
								</div>
							</div>
							<div class="input">
								<span>Новый пароль</span>
								<input type="password" name="newpass" id="newpass">
								<div class="input-icon input-on">
									{{Icon iconName="eye"}}
									{{Icon iconName="eye2"}}
									<div class="input-hint">Показать пароль</div>
								</div>
							</div>
							<div class="input">
								<span>Повторите новый пароль</span>
								<input type="password" name="renewpass">
								<div class="input-icon input-on">
									{{Icon iconName="eye"}}
									{{Icon iconName="eye2"}}
									<div class="input-hint">Показать пароль</div>
								</div>
							</div>
						</div>
					</div>
					<div class="profileEdit-buttons">
						<button class="btn change" disabled>Сменить пароль</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>