<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header-na }}

	<div class="productPage">
		<div class="wrapper">
			<a href="#" class="row back">
				{{Icon iconName="back"}}
				<span>Аккаунты GTA 5</span>
			</a>
			<div class="title">Оформление заказа</div>

			<div class="productPage-items">
				<div class="productPage-left">
					<div class="info">
						<h4>Характеристики</h4>
						<div class="info-chars">
							<div class="row info-char">
								<div class="info-left">Игра</div>
								<div class="info-right">GTA 5</div>
							</div>
							<div class="row info-char">
								<div class="info-left">Платформа</div>
								<div class="info-right">PC</div>
							</div>
							<div class="row info-char">
								<div class="info-left">Тип</div>
								<div class="info-right">Steam Аккаунт</div>
							</div>
							<div class="row info-char">
								<div class="info-left">Пункт</div>
								<div class="info-right">Характеристика</div>
							</div>
						</div>
						<h4>КРАТКОЕ ОПИСАНИЕ</h4>
						<div class="info-small">	
							<p class="desc">✅АККАУНТ ⭐GTA 5 SOCIAL CLUB + ONLINE⭐ + СМЕНА ДАННЫХ✅ + БОНУС</p>
						</div>

						<h4>ОПИСАНИЕ</h4>
						<div class="info-big">
							<p class="desc">Аккаунт GTA 5 ONLINE ЛИЧНЫЙ ВЕЧНАЯ ГАРАНТИЯ</p>
							<p class="desc">
								Аккаунт: <a href="#">https://ru.socialclub.rockstargames.com/member/cicihongamer2020/</a>
							</p>
							<p class="desc">В GTA 5 ONLINE НЕ ЗАХОДИЛ 1 НЕДЕЛЮ</p>
							<p class="desc">НАЛИЧНЫЕ 24231$</p>
							<p class="desc">БАНК 2521$</p>
							<p class="desc">3 ЛВЛ</p>
							<p class="desc">ОТКРЫТО ВСЁ</p>
							<p class="desc">ВРЕМЯ ИГРЫ: 1 ЧАС. 2 МИН. 41 СЕК</p>
						</div>

						<div class="info-images">
							<a href="%=static=%img/general/recover.jpg" class="info-image" data-fancybox="gallery">
								<img src="%=static=%img/general/recover.jpg" alt="info">
								<span class="zoom">
									{{Icon iconName="zoom"}}
								</span>
							</a>
							<a href="%=static=%img/general/register.jpg" class="info-image" data-fancybox="gallery">
								<img src="%=static=%img/general/register.jpg" alt="info">
								<span class="zoom">
									{{Icon iconName="zoom"}}
								</span>
							</a>
							<a href="%=static=%img/general/recover.jpg" class="info-image" data-fancybox="gallery">
								<img src="%=static=%img/general/recover.jpg" alt="info">
								<span class="zoom">
									{{Icon iconName="zoom"}}
								</span>
							</a>
							<a href="%=static=%img/general/register.jpg" class="info-image" data-fancybox="gallery">
								<img src="%=static=%img/general/register.jpg" alt="info">
								<span class="zoom">
									{{Icon iconName="zoom"}}
								</span>
							</a>
						</div>
					</div>
					{{> chat/chat }}
					<div class="productPage-right">
						<h4>покупка</h4>
						<div class="productPage-block">
							<form action="">
								<span class="sposob">Я покупаю</span>
								<div class="popup-input">
									<input type="number" value="1" min="1" minlength="1">
									<span class="length">шт</span>
								</div>

								<span class="sposob">Способ оплаты</span>
								<select class="second" id="pay-select">
									<option value="" data-hidden="false" data-balance="111.62 ₽" selected disabled>Не выбрано</option>
									<option value="1" data-icon="static/img/general/icons/balance.svg" data-balance="105.12 ₽">Баланс аккаунта</option>
									<option value="2" data-icon="static/img/general/icons/card.svg" data-balance="106.42 ₽">Банковской картой</option>
									<option value="3" data-icon="static/img/general/icons/yandex.svg" data-balance="112.62 ₽">Яндекс.Деньги</option>
									<option value="4" data-icon="static/img/general/icons/qiwi.svg" data-balance="116.5 ₽">QIWI</option>
									<option value="5" data-icon="static/img/general/icons/webmoney.svg" data-balance="130.18 ₽">МТС, Билайн, МегаФон</option>
									<option value="6" data-icon="static/img/general/icons/webmoney.svg" data-balance="112.32 WMR">WebMoney WMR</option>
									<option value="7" data-icon="static/img/general/icons/webmoney.svg" data-balance="111.62 WMP">WebMoney WMP</option>
									<option value="8" data-icon="static/img/general/icons/webmoney.svg" data-balance="12.43 WMZ">WebMoney WMZ</option>
									<option value="9" data-icon="static/img/general/icons/webmoney.svg" data-balance="12.43 WME">WebMoney WME</option>
								</select>
								<button id="pay-btn">Купить за <span>111.62 ₽</span></button>
							</form>
							<p>Продавец не сможет получить оплату до тех пор, пока вы не подтвердите выполнение им всех обязательств</p>
						</div>
					</div>
				</div>
			</div>

			{{> reviews/reviews }}

		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>