<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header }}

	<div class="purchases">
		<div class="wrapper">
			{{> bread/bread }}
			<div class="title">Мои покупки</div>
		</div>

		<div class="purchases-empty">
			{{Icon iconName="inbox"}}
			<p>Вы еще ничего не продали</p>
		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>