<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	<div class="modalPage recoverPage">
		{{> header/modal-header }}

		<div class="modal modal-join">
			<div class="modal-inner">
				<div class="modal-title">Восстановление пароля</div>
				<form action="" class="popup-form valid-form">
					<div class="popup-input">
						<span>Эл. почта</span>
						<input type="text" placeholder="Введите эл. почту" name="email">
					</div>
					<div class="popup-btn">
						<button>Восстановить пароль</button>
					</div>
				</form>
			</div>
			<div class="modal-bottom">
				<a href="join.html">Я вспомнил пароль</a>
			</div>
		</div>

		{{> footer/modal-footer }}
	</div>

	{{> bottom/bottom }}
</body>

</html>