<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	<div class="modalPage registerPage">
		{{> header/modal-header }}

		<div class="modal modal-join">
			<div class="modal-inner">
				<div class="modal-title">Регистрация</div>
				<form action="" class="popup-form valid-form">
					<div class="popup-input">
						<span>Логин</span>
						<input type="text" placeholder="Придумайте логин" name="name">
					</div>
					<div class="popup-input">
						<span>Эл. почта</span>
						<input type="text" placeholder="Введите вашу эл. почту" name="email">
					</div>
					<div class="popup-input">
						<span>Ваш номер</span>
						<input type="text" placeholder="Введите номер телефона" name="phone">
					</div>
					<div class="popup-input">
						<span>Пароль</span>
						<input type="password" placeholder="Минимум 6 символов" name="password">
					</div>
					<label class="modal-label">
						<input type="checkbox" id="politic">
						<span class="custom">
							{{Icon iconName="checked"}}
						</span>
						<span class="text">С лицензионным соглашением, включая агентский договор, политикой по обработке персональных данных ознакомился, принимаю в полном объеме </span>
					</label>
					<div class="popup-btn">
						<button id="register" disabled>Зарегистрироваться</button>
					</div>
				</form>
			</div>
			<div class="modal-bottom">
				<a href="join.html">У меня есть аккаунт</a>
			</div>
		</div>

		{{> footer/modal-footer }}
	</div>

	{{> bottom/bottom }}
</body>

</html>