<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header }}

	<div class="sales">
		<div class="sales-box">
			<div class="wrapper">
				{{> bread/bread }}
				<div class="title">Мои продажи</div>

				<div class="sales-empty">
					<p>
						Здесь буди расположены актуальные предложения на оплату. Как только у вас приобретут товара – мы вас оповестим.
					</p>
				</div>
			</div>
		</div>

		<div class="sales-table">
			<div class="wrapper">
				<div class="row sales-table-head">
					<div class="sales-table-date">Дата</div>
					<div class="sales-table-number">Номер заказа</div>
					<div class="sales-table-desc">Описание</div>
					<div class="sales-table-seller">Покупатель</div>
					<div class="sales-table-status">Статус</div>
					<div class="sales-table-price">Цена</div>
				</div>
				<div class="sales-table-body">
					<div class="sales-table-row">
						<div class="sales-table-date">
							<span>19 февраля, 10:47</span>
							<p>3 месяца назад</p>
						</div>
						<div class="sales-table-number">
							#7021282
						</div>
						<div class="sales-table-desc">
							<p>⚜️ АККАУНТ GTA 5 ONLINE | Premium Edition | EPIC GAMES || 1.000.000$ || СМЕНА ВСЕХ ДАННЫХ ⚜️</p>
							<span>Dota 2, Аккаунты</span>
						</div>
						<div class="sales-table-seller">
							<div class="row seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/user.png" alt="Avatar">
									<div class="seller-status offline"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">HellYeahPlay</div>
									<div class="seller-time">на сайте 12 лет</div>
								</div>
							</div>
						</div>

						<div class="sales-table-status">
							<div class="status process">
								В обработке
							</div>
						</div>
						<div class="sales-table-price">111.62 ₽</div>
					</div>

					<div class="sales-table-row">
						<div class="sales-table-date">
							<span>17 февраля, 23:22</span>
							<p>3 месяца назад</p>
						</div>
						<div class="sales-table-number">
							#7021258
						</div>
						<div class="sales-table-desc">
							<p>✅ АККАУНТ GTA 5 ONLINE ⭐ Premium Edition +1.000.000$ ⭐ EPIC GAMES ✅</p>
							<span>GTA 5 , Аккаунты</span>
						</div>
						<div class="sales-table-seller">
							<div class="row seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">OlegGdeMaket</div>
									<div class="seller-time">на сайте 2 года</div>
								</div>
							</div>
						</div>

						<div class="sales-table-status">
							<div class="status success">
								Закрыт
							</div>
						</div>
						<div class="sales-table-price">192.24 ₽</div>
					</div>

					<div class="sales-table-row">
						<div class="sales-table-date">
							<span>3 февраля, 15:15</span>
							<p>3 месяца назад</p>
						</div>
						<div class="sales-table-number">
							#7021658
						</div>
						<div class="sales-table-desc">
							<p>☑️ ⚔️ КЛЮЧ АКТИВАЦИИ GTA 5 ONLINE</p>
							<span>Dota 2, Аккаунты</span>
						</div>
						<div class="sales-table-seller">
							<div class="row seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">Sergio31</div>
									<div class="seller-time">на сайте 8 месяцев</div>
								</div>
							</div>
						</div>

						<div class="sales-table-status">
							<div class="status bad">
								Отказ
							</div>
						</div>
						<div class="sales-table-price">777.72 ₽</div>
					</div>
					
					<div class="sales-table-row">
						<div class="sales-table-date">
							<span>19 февраля, 10:47</span>
							<p>3 месяца назад</p>
						</div>
						<div class="sales-table-number">
							#7021282
						</div>
						<div class="sales-table-desc">
							<p>⚜️ АККАУНТ GTA 5 ONLINE | Premium Edition | EPIC GAMES || 1.000.000$ || СМЕНА ВСЕХ ДАННЫХ ⚜️</p>
							<span>Dota 2, Аккаунты</span>
						</div>
						<div class="sales-table-seller">
							<div class="row seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/user.png" alt="Avatar">
									<div class="seller-status offline"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">HellYeahPlay</div>
									<div class="seller-time">на сайте 12 лет</div>
								</div>
							</div>
						</div>

						<div class="sales-table-status">
							<div class="status process">
								В обработке
							</div>
						</div>
						<div class="sales-table-price">111.62 ₽</div>
					</div>

					<div class="sales-table-row">
						<div class="sales-table-date">
							<span>17 февраля, 23:22</span>
							<p>3 месяца назад</p>
						</div>
						<div class="sales-table-number">
							#7021258
						</div>
						<div class="sales-table-desc">
							<p>✅ АККАУНТ GTA 5 ONLINE ⭐ Premium Edition +1.000.000$ ⭐ EPIC GAMES ✅</p>
							<span>GTA 5 , Аккаунты</span>
						</div>
						<div class="sales-table-seller">
							<div class="row seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">OlegGdeMaket</div>
									<div class="seller-time">на сайте 2 года</div>
								</div>
							</div>
						</div>

						<div class="sales-table-status">
							<div class="status success">
								Закрыт
							</div>
						</div>
						<div class="sales-table-price">192.24 ₽</div>
					</div>

					<div class="sales-table-row">
						<div class="sales-table-date">
							<span>3 февраля, 15:15</span>
							<p>3 месяца назад</p>
						</div>
						<div class="sales-table-number">
							#7021658
						</div>
						<div class="sales-table-desc">
							<p>☑️ ⚔️ КЛЮЧ АКТИВАЦИИ GTA 5 ONLINE</p>
							<span>Dota 2, Аккаунты</span>
						</div>
						<div class="sales-table-seller">
							<div class="row seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">Sergio31</div>
									<div class="seller-time">на сайте 8 месяцев</div>
								</div>
							</div>
						</div>

						<div class="sales-table-status">
							<div class="status bad">
								Отказ
							</div>
						</div>
						<div class="sales-table-price">777.72 ₽</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>