<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header }}

	<div class="sales">
		<div class="sales-box">
			<div class="wrapper">
				{{> bread/bread }}
				<div class="title">Мои продажи</div>

				<div class="sales-empty">
					<p>
						Здесь буди расположены актуальные предложения на оплату. Как только у вас приобретут товара – мы вас оповестим.
					</p>
				</div>
			</div>
		</div>

		<div class="sales-not">
			<div class="wrapper">
				<div class="sales-small">
					{{Icon iconName="inbox"}}
					<p>Вы еще ничего не продали</p>
				</div>
			</div>
		</div>

	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>