<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header }}

	<div class="profile">
		<div class="wrapper">
			<div class="profile-wrap">
				<div class="profile-left">
					<div class="row profile-box">
						<div class="row seller">
							<div class="seller-icon">
								<img src="%=static=%img/general/seller1.png" alt="Avatar">
								<div class="seller-status online"></div>
							</div>
							<div class="seller-info">
								<div class="seller-name">Dantevsky</div>
								<div class="seller-time">на сайте 4 месяца</div>
							</div>
						</div>

						<div class="row profile-info">
							<div class="profile-info-item">
								<div class="row profile-info-num">
									4,5
									<div class="star active">
										{{Icon iconName="star"}}
									</div>
								</div>
								<span>рейтинг</span>
							</div>
							<div class="profile-info-item">
								<div class="row profile-info-num">
									5
								</div>
								<span>кол. товаров</span>
							</div>
							<div class="profile-info-item">
								<div class="row profile-info-num">
									326
								</div>
								<span>закрытых сделок</span>
							</div>
						</div>
					</div>

					<div class="profile-buy">
						<h4>продажа</h4>
						<div class="profile-table">
							<div class="profile-table-name">Кинары Aion (RU)</div>
							<div class="row profile-table-head">
								<div class="row profile-table-server">
									<span>Сервер</span>
								</div>
								<div class="row profile-table-side">
									<span>сторона</span>
								</div>
								<div class="row profile-table-qty">
									{{Icon iconName="sort"}}
									<span>наличие</span>
								</div>
								<div class="row profile-table-price">
									{{Icon iconName="sort"}}
									<span>Цена/1кк</span>
								</div>
							</div>
							<a href="#" class="row profile-table-body">
								<div class="row profile-table-server">
									<span>PC</span>
								</div>
								<div class="row profile-table-side">
									<span>Элийцы</span>
								</div>
								<div class="row profile-table-qty">
									<span>190 кк</span>
								</div>
								<div class="row profile-table-price">
									<span>3.06 ₽</span>
								</div>
							</a>
						</div>

						<div class="profile-table">
							<div class="profile-table-name">Аккаунты GTA 5</div>
							<div class="row profile-table-head">
								<div class="row profile-table-server">
									<span>Сервер</span>
								</div>
								<div class="row profile-table-desc">
									<span>Описание</span>
								</div>
								<div class="row profile-table-price">
									{{Icon iconName="sort"}}
									<span>Цена/1кк</span>
								</div>
							</div>
							<a href="#" class="row profile-table-body">
								<div class="row profile-table-server">
									<span>PC</span>
								</div>
								<div class="row profile-table-desc">
									<span>✅ Epic Games  ✅ Личный аккаунт ✅ Premium Edition №2</span>
								</div>
								<div class="row profile-table-price">
									<span>722 ₽</span>
								</div>
							</a>
							<a href="#" class="row profile-table-body">
								<div class="row profile-table-server">
									<span>PC</span>
								</div>
								<div class="row profile-table-desc">
									<span>✅ Epic Games  ✅ Личный аккаунт ✅ Premium Edition №1</span>
								</div>
								<div class="row profile-table-price">
									<span>820 ₽</span>
								</div>
							</a>
						</div>

						<div class="profile-table">
							<div class="profile-table-name">Аккаунты Dota 2</div>
							<div class="row profile-table-head">
								<div class="row profile-table-side">
									<span>Описание</span>
								</div>
								<div class="row profile-table-price">
									{{Icon iconName="sort"}}
									<span>Цена/1кк</span>
								</div>
							</div>
							<a href="#" class="row profile-table-body">
								<div class="row profile-table-side">
									<span>✔ ️⭐ VHS Аккаунт с 1-ой игры ⭐ 6К мейн ⭐ ✔️</span>
								</div>
								<div class="row profile-table-price">
									<span>722 ₽</span>
								</div>
							</a>
						</div>

						<div class="profile-btn">
							Показать все товары
						</div>
					</div>

					{{> reviews/reviews }}
				</div>
				<div class="profile-right">
					<h4>Чат с продавцом</h4>
					{{> chat/chat }}
				</div>

				<div class="tablet-icon">
					{{Icon iconName="chat"}}
				</div>
			</div>
		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>