<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header }}

	<div class="profile">
		<div class="wrapper">
			<div class="profile-wrap">
				<div class="profile-left">
					<div class="row profile-box">
						<div class="row seller">
							<div class="seller-icon">
								<img src="%=static=%img/general/seller1.png" alt="Avatar">
								<div class="seller-status online"></div>
							</div>
							<div class="seller-info">
								<div class="seller-name">Dantevsky</div>
								<div class="seller-time">на сайте 4 месяца</div>
							</div>
						</div>

						<div class="row profile-info">
							<div class="profile-info-item">
								<div class="row profile-info-num">
									4,5
									<div class="star active">
										{{Icon iconName="star"}}
									</div>
								</div>
								<span>рейтинг</span>
							</div>
							<div class="profile-info-item">
								<div class="row profile-info-num">
									5
								</div>
								<span>кол. товаров</span>
							</div>
							<div class="profile-info-item">
								<div class="row profile-info-num">
									326
								</div>
								<span>закрытых сделок</span>
							</div>
						</div>
					</div>
				</div>
				<div class="profile-right">
					<h4>Чат с продавцом</h4>
					{{> chat/chat }}
				</div>

				<div class="tablet-icon">
					{{Icon iconName="chat"}}
				</div>
			</div>
		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>