<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	<div class="index">
		<div class="index-left">
			<a href="/" class="logo">
				<img src="%=static=%img/general/logo.svg" alt="Главная">
			</a>

			<div class="product-content">
				<img src="%=static=%img/general/silver.png" alt="">
				<h1 class="title">Серебряные рубли Anomaly Zone</h1>
				<p class="description">Предлагаем вам купить серебро sZone Online на бирже FunPay, чтобы в минимальные сроки обзавестись достойным снаряжением и успешно выживать в условиях аномальной зоны. Продавцы валюты — другие игроки, получающие оплату только после передачи игровой валюты и завершения сделки, безопасность гарантирована.</p>
				<a href="#" class="sell">
					Продать игровую валюту
				</a>	
			</div>
		</div>
		<div class="index-content">
			<div class="row index-header">
				<a href="/" class="logo">
					<img src="%=static=%img/general/logo2.svg" alt="">
				</a>
				<div class="search">
					<input type="text" placeholder="Поиск среди 213 игр">
					{{Icon iconName="search"}}
				</div>
				<nav class="row nav">
					<a href="#" class="nav-link">Помощь</a>
				</nav>
				<div class="row auth">
					<div class="btn login">
						Войти
					</div>
					<div class="btn register">
						Регистрация
					</div>
				</div>
			</div>

			<div class="row index-sort">
				<div class="row popup-labels">
					<label>
						<input type="radio" name="server" checked>
						<span class="custom">PC</span>
					</label>
					<label>
						<input type="radio" name="server">
						<span class="custom">Social Club</span>
					</label>
				</div>
			</div>
			
			{{> filters/filters }}

			<ul class="row product-ul">
				<li class="row product-li active">Золотые рубли <span>0</span></li>
				<li class="row product-li">Серебрянные рубли <span>4</span></li>
				<li class="row product-li">Аккаунты <span>9</span></li>
				<li class="row product-li">Предметы <span>10</span></li>
				<li class="row product-li">Услуги <span>8</span></li>
			</ul>

			<div class="product-tab active"> <!-- таб золотые рубли -->

				<div class="product-table product-silver">
					<div class="row table-head">
						<div class="table-server">
							Сервер
						</div>
						<div class="table-seller">
							Продавец
						</div>
						<div class="table-qty">
							Наличие
						</div>
						<div class="table-price">
							Цена /1кк
						</div>
					</div>
					<div class="table-body">

						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">Dantevsky</div>
									<div class="seller-reviews">230 отзывов</div>
									<div class="seller-time">на сайте месяц</div>
								</div>
							</div>
							<div class="table-qty">
								46 кк
							</div>
							<div class="table-price">
								34.2 ₽
							</div>
						</div>

						<div class="table-row">
							<div class="table-server">
								EU – PvP
							</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status offline"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">MagaPechenka</div>
									<div class="seller-reviews">12 отзывов</div>
									<div class="seller-time">на сайте 2 года</div>
								</div>
							</div>
							<div class="table-qty">
								100 кк
							</div>
							<div class="table-price">
								36.4 ₽
							</div>
						</div>


						<div class="table-row">
							<div class="table-server">
								EU – PvP
							</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">NuPrivet</div>
									<div class="seller-reviews">2 отзыва</div>
									<div class="seller-time">на сайте 7 месяцев</div>
								</div>
							</div>
							<div class="table-qty">
								6 кк
							</div>
							<div class="table-price">
								42.5 ₽
							</div>
						</div>

						<div class="table-row">
							<div class="table-server">
								EU – PvP
							</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status offline"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">RomatiMolodec</div>
									<div class="seller-reviews">0 отзывов</div>
									<div class="seller-time">на сайте месяц</div>
								</div>
							</div>
							<div class="table-qty">
								22 кк
							</div>
							<div class="table-price">
								46.4 ₽
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="product-tab"> <!-- таб серебрянные рубли -->

				<div class="product-table product-silver">
					<div class="row table-head">
						<div class="table-server">
							Сервер
						</div>
						<div class="table-seller">
							Продавец
						</div>
						<div class="table-qty">
							Наличие
						</div>
						<div class="table-price">
							Цена /1кк
						</div>
					</div>
					<div class="table-body">

						<div class="table-row">
							<div class="table-server">
								PC
							</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">Dantevsky</div>
									<div class="seller-reviews">230 отзывов</div>
									<div class="seller-time">на сайте месяц</div>
								</div>
							</div>
							<div class="table-qty">
								46 кк
							</div>
							<div class="table-price">
								34.2 ₽
							</div>
						</div>

						<div class="table-row">
							<div class="table-server">
								EU – PvP
							</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status offline"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">MagaPechenka</div>
									<div class="seller-reviews">12 отзывов</div>
									<div class="seller-time">на сайте 2 года</div>
								</div>
							</div>
							<div class="table-qty">
								100 кк
							</div>
							<div class="table-price">
								36.4 ₽
							</div>
						</div>


						<div class="table-row">
							<div class="table-server">
								EU – PvP
							</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller1.png" alt="Avatar">
									<div class="seller-status online"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">NuPrivet</div>
									<div class="seller-reviews">2 отзыва</div>
									<div class="seller-time">на сайте 7 месяцев</div>
								</div>
							</div>
							<div class="table-qty">
								6 кк
							</div>
							<div class="table-price">
								42.5 ₽
							</div>
						</div>

						<div class="table-row">
							<div class="table-server">
								EU – PvP
							</div>
							<div class="table-seller">
								<div class="seller-icon">
									<img src="%=static=%img/general/seller2.png" alt="Avatar">
									<div class="seller-status offline"></div>
								</div>
								<div class="seller-info">
									<div class="seller-name">RomatiMolodec</div>
									<div class="seller-reviews">0 отзывов</div>
									<div class="seller-time">на сайте месяц</div>
								</div>
							</div>
							<div class="table-qty">
								22 кк
							</div>
							<div class="table-price">
								46.4 ₽
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="product-tab"> <!-- таб аккаунты -->
			</div>

			<div class="product-tab"> <!-- таб предметы -->
			</div>

			<div class="product-tab"> <!-- таб услуги -->
			</div>

		</div>
	</div>

	{{> footer/footer }}

	{{> bottom/bottom }}
</body>

</html>