
<div class="chat">
	<div class="row chat-header">
		<div class="seller">
			<div class="seller-icon">
				<img src="%=static=%img/general/seller1.png" alt="Avatar">
				<div class="seller-status online"></div>
			</div>
			<div class="seller-info">
				<div class="seller-name">Dantevsky</div>
				<div class="seller-time">онлайн</div>
			</div>
		</div>
		<!-- <div class="row chat-btns">
			<div class="chat-btn chat-alert">
				{{Icon iconName="alert"}}
			</div>
			<div class="chat-btn chat-notif">
				{{Icon iconName="notif"}}
			</div>
		</div> -->
	</div>

	<div class="chat-center">
		<div class="chat-body">
			<!-- <div class="chat-start">
				{{Icon iconName="msg"}}
				<span>Напишите продавцу
				перед оплатой</span>
			</div> -->
			<div class="chat-inner">
				<div class="msg">
					<p>
						Логи от стима:
						SAY1J0I2ITSH6TJT23RW55X0
						lickylicky228
					</p>
					<span class="date">22:20</span>
				</div>
				<div class="msg msg-owner">
					<p>Не работает</p>
					<span class="date">22:20</span>
				</div>
				<div class="msg msg-owner">
					<p>Вы заметите акканут?</p>
					<span class="date">22:20</span>
				</div>
				<div class="msg msg-owner">
					<p>Ну ладно</p>
					<span class="date">22:20</span>
				</div>
				<div class="msg msg-owner">
					<p>Ну ладно</p>
					<span class="date">22:20</span>
				</div>
				<div class="msg msg-owner">
					<p>Ну ладно</p>
					<span class="date">22:20</span>
				</div>
				<div class="msg msg-owner">
					<p>Ну ладно</p>
					<span class="date">22:20</span>
				</div>
				<div class="msg msg-owner">
					<p>Ну ладно</p>
					<span class="date">22:20</span>
				</div>
				<div class="msg msg-owner">
					<p>Ну ладно</p>
					<span class="date">22:20</span>
				</div>
				<div class="msg msg-owner">
					<p>Ну ладно</p>
					<span class="date">22:20</span>
				</div>
				<div class="msg msg-owner">
					<p>Ну ладно</p>
					<span class="date">22:20</span>
				</div>
				<div class="msg">
					<p>
						Логи от стима:
						SAY1J0I2ITSH6TJT23RW55X0
						lickylicky228
					</p>
					<span class="date">22:20</span>
				</div>

				<div class="msg-admin">
					<div class="msg-admin-left">
						{{Icon iconName="circle"}}
						<span class="date">22:20</span>
					</div>
					<div class="msg-admin-right">
						<p>Покупатель <a href="#">BanMachine</a> подтвердил успешное выполнение заказа <a href="#">#7021282</a> и отправил деньги продавцу Dantevsky.</p>
						<a href="#" class="row my-buy">
							<span>Мои покупки</span>
							{{Icon iconName="arrow"}}
						</a>
					</div>
				</div>

				<div class="msg-admin">
					<div class="msg-admin-left">
						{{Icon iconName="circle"}}
						<span class="date">22:22</span>
					</div>
					<div class="msg-admin-right">
						<p>Продавец <a href="#">Dantevsky</a> отклонил оплату BanMachine за заказ <a href="#">#7021282</a></p>
					</div>
				</div>

				<div class="chat-notice chat-bad">
					<div class="chat-img">
						{{Icon iconName="bad"}}
					</div>
					<div class="chat-info">
						<h5>Товар не получен</h5>
						<p>Мы отправили ваш диалог на модерацию, в ближайшее время произведем возврат средств на счет вашего аккаунта.</p>
					</div>
				</div>
				<div class="chat-notice chat-success">
					<div class="chat-img">
						{{Icon iconName="success"}}
					</div>
					<div class="chat-info">
						<h5>Товар получен</h5>
					</div>
				</div>

				<div class="row chat-buttons">
					<button class="button btn-success">Товар получен</button>
					<button class="button btn-warning">Товар не получен</button>
				</div>
			</div>
		</div>
	</div>

	<div class="chat-bottom">
		<form action="" class="row">
			<div class="input">
				<input type="text" placeholder="Написать...">
			</div>
			<!-- <div class="translate">
				{{Icon iconName="translate"}}
			</div>
			<div class="smile">
				{{Icon iconName="smile"}}
			</div>
			<div class="files">
				{{Icon iconName="files"}}
			</div> -->
			<button class="send">
				{{Icon iconName="send"}}
			</button>
		</form>
	</div>
</div>