<footer class="footer">
	<div class="wrapper">
		<div class="row footer-row">
			<span>© 2015–2020 Company</span>
			<a href="#">Отправить запрос</a>
			<a href="#">Политика конфиденциальности </a>
		</div>
	</div>
</footer>

<div class="fixed-menu">
	<a href="/" class="fixed-link">
		{{Icon iconName="mobile-home"}}
		<span>Главная</span>
	</a>
	<a href="finance.html" class="fixed-link">
		{{Icon iconName="mobile-fin"}}
		<span>Транзакции</span>
	</a>
	<a href="chat.html" class="fixed-link">
		{{Icon iconName="mobile-msg"}}
		<span>Сообщения</span>
	</a>
	<a href="lk.html" class="fixed-link">
		{{Icon iconName="mobile-user"}}
		<span>Аккаунт</span>
	</a>
</div>

{{> popup/popup }}