<div class="overlay">
	<div class="popup popup-add">
		<div class="popup-inner">
			<div class="popup-close">{{Icon iconName="close"}}</div>
			<div class="popup-subtitle">Добавить предложение</div>
			<form class="popup-form" autocomplete="off">
				<div class="popup-row">
					<div class="popup-left">Название игры</div>
					<div class="popup-right">
						<div class="add-input">
							<div class="popup-icon">
								{{Icon iconName="search"}}
							</div>
							<input type="text" class="gameSearch" placeholder="Поиск среди 213 игр">
							<div class="add-hint">
								<div class="add-inner">
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added1.png" alt="">
										</div>
										<div class="add-name">Dota 2</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added2.png" alt="">
										</div>
										<div class="add-name">Doom Ethernal</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added3.png" alt="">
										</div>
										<div class="add-name">Don’t Starve Together</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added4.png" alt="">
										</div>
										<div class="add-name">Dofus</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added1.png" alt="">
										</div>
										<div class="add-name">Dota 2</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added2.png" alt="">
										</div>
										<div class="add-name">Doom Ethernal</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added3.png" alt="">
										</div>
										<div class="add-name">Don’t Starve Together</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added4.png" alt="">
										</div>
										<div class="add-name">Dofus</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popup-row">
					<div class="popup-left">Сервер</div>
					<div class="popup-right">
						<div class="row popup-labels">
							<label>
								<input type="radio" name="server">
								<span class="custom">PC</span>
							</label>
							<label>
								<input type="radio" name="server">
								<span class="custom">Social Club</span>
							</label>
						</div>
					</div>
				</div>	
				<div class="popup-row">
					<div class="popup-left">Категория</div>
					<div class="popup-right">
						<div class="row popup-labels">
							<label>
								<input type="radio" name="ctg">
								<span class="custom">Аккаунт</span>
							</label>
							<label>
								<input type="radio" name="ctg">
								<span class="custom">Валюта</span>
							</label>
							<label>
								<input type="radio" name="ctg">
								<span class="custom">Предметы</span>
							</label>
							<label>
								<input type="radio" name="ctg">
								<span class="custom">Услуга</span>
							</label>
						</div>
					</div>
				</div>	
				<div class="popup-row">
					<div class="popup-left">Стоимость</div>
					<div class="row popup-right">
						<div class="add-input small-input">
							<input type="text" placeholder="0">
							<div class="small-currency">₽</div>
						</div>
						<div class="popup-inf">
							4.1% – Комиссия сревиса GOUP! итоговая стоимость товара составит – <span class="active">104,1 ₽</span>
						</div>
					</div>
				</div>
				<div class="popup-row">
					<div class="popup-left">Краткое описание</div>
					<div class="row popup-right">
						<div class="add-input">
							<textarea name="" placeholder="Основные параметры продукта"></textarea>
						</div>
					</div>
				</div>
				<div class="popup-row">
					<div class="popup-left">Описание</div>
					<div class="row popup-right">
						<div class="add-input add-desc">
							<textarea name="" placeholder="Полное описание продукта"></textarea>
						</div>
					</div>
				</div>

				<div class="popup-row">
					<div class="popup-left"></div>
					<div class="row popup-right">
						<button class="btn submit">Готово</button>
						<a href="#" class="btn cancel">Отмена</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="popup popup-new popup-add2">
		<div class="popup-inner">
			<div class="popup-close">{{Icon iconName="close"}}</div>
			<div class="popup-subtitle">Добавить предложение</div>
			<form class="popup-form" autocomplete="off">
				<div class="popup-row">
					<div class="popup-left">Название игры</div>
					<div class="popup-right">
						<div class="add-input">
							<div class="popup-icon">
								{{Icon iconName="search"}}
							</div>
							<input type="text" class="gameSearch" placeholder="Поиск среди 213 игр">
							<div class="add-hint">
								<div class="add-inner">
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added1.png" alt="">
										</div>
										<div class="add-name">Dota 2</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added2.png" alt="">
										</div>
										<div class="add-name">Doom Ethernal</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added3.png" alt="">
										</div>
										<div class="add-name">Don’t Starve Together</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added4.png" alt="">
										</div>
										<div class="add-name">Dofus</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added1.png" alt="">
										</div>
										<div class="add-name">Dota 2</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added2.png" alt="">
										</div>
										<div class="add-name">Doom Ethernal</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added3.png" alt="">
										</div>
										<div class="add-name">Don’t Starve Together</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added4.png" alt="">
										</div>
										<div class="add-name">Dofus</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden-params show"> <!-- .show для показа дополнительных тегов -->
							<ul class="game-variants">
								<li class="game-variant active">Global</li>
								<li class="game-variant">RU</li>
								<li class="game-variant">EN</li>
							</ul>
						</div>
					</div>
				</div>	
				<div class="popup-row">
					<div class="popup-left">Категория</div>
					<div class="popup-right">
						<select class="nice">
							<option value="0">Не выбрано</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
				</div>
				<div class="hidden-params show"> <!-- .show для показа дополнительных полей -->
					<div class="popup-row">
						<div class="popup-left">Тип</div>
						<div class="popup-right">
							<select class="nice">
								<option value="0">Одежда</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</div>
					</div>
					<div class="popup-row">
						<div class="popup-left">Герой</div>
						<div class="popup-right">
							<select class="nice">
								<option value="0">Arc Warden</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</div>
					</div>
					<div class="popup-row">
						<div class="popup-left">Редкость</div>
						<div class="popup-right">
							<select class="nice">
								<option value="0">Mythtical</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</div>
					</div>
					<div class="popup-row">
						<div class="popup-left">Качество</div>
						<div class="popup-right">
							<select class="nice">
								<option value="0">Aucpicious</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</div>
					</div>
				</div>
				<div class="popup-row">
					<div class="popup-left">Вид сделки</div>
					<div class="popup-right">
						<div class="row popup-labels">
							<label>
								<input type="radio" name="sdelka" class="deal" data-active="hand" checked>
								<span class="custom">Ручная сделка</span>
							</label>
							<label>
								<input type="radio" name="sdelka" class="deal" data-active="moment">
								<span class="custom">Моментальная</span>
							</label>
						</div>
					</div>
				</div>	

				<div class="deal-block active" data-deal="hand">
					<div class="popup-row">
						<div class="popup-left">Стоимость</div>
						<div class="row popup-right">
							<div class="add-input small-input">
								<span class="small-text">цена за единицу:</span>
								<input type="text" placeholder="0">
								<div class="small-currency">₽</div>
							</div>
							<div class="add-input small-input">
								<span class="small-text">количество:</span>
								<input type="text" placeholder="0">
							</div>
							<div class="add-input small-input">
								<span class="small-text">ед. измерения:</span>
								<select class="nice">
									<option value="0">Не выбрано</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
								</select>
							</div>
						</div>
					</div>
					<div class="popup-row">
						<div class="popup-left">Мин. заказ</div>
						<div class="row popup-right">
							<div class="add-input middle-input">
								<span class="small-text">минимальное количество:</span>
								<input type="text" value="1">
							</div>
							<span class="or">или</span>
							<div class="add-input middle-input">
								<span class="small-text">минимальная сумма:</span>
								<input type="text" placeholder="0">
								<div class="small-currency">₽</div>
							</div>
						</div>
					</div>
				</div>

				<div class="deal-block" data-deal="moment">

					<div class="popup-row">
						<div class="popup-left">Инструкция товара для покупателя</div>
						<div class="row popup-right">
							<div class="add-input add-desc">
								<textarea name="" placeholder="Выдается покупателю после покупки"></textarea>
							</div>
						</div>
					</div>

					<div class="popup-row">
						<div class="popup-left">Уникальность продаваемого товара</div>
						<div class="align-top popup-right">
							<label class="unic">
								<input type="radio" name="unic" class="unic-input" data-unic="unic" checked>
								<span class="custom"></span>
								<span class="unic-text">
									<h4>Уникальный</h4>
									<span>Одна информация в одни руки. Например: одноразовые пинкоды.</span>
								</span>
							</label>
							<label class="unic">
								<input type="radio" name="unic" class="unic-input" data-unic="notunic">
								<span class="custom"></span>
								<span class="unic-text">
									<h4>Неуникальный</h4>
									<span>Одна информация в одни руки. Например: одноразовые пинкоды.</span>
								</span>
							</label>
						</div>
					</div>

					<div class="unic-block active" data-unic="unic">
						<div class="popup-row">
							<div class="popup-left">Укажите продаваемые товары</div>
							<div class="row popup-right">
								<div class="text">
									<p>Каждый оплативший покупатель будет получать один из указанных текстов. Выкупленный текст снимается с продажи. Обращаем Ваше внимание, также товаром может выступать любой файл, для продажи его следует загрузить на файлообменник (например: www.send.firefox.com, www.mega.nz, облачные хранилища Google или Яндекс) и разместить ссылку в поле «Товар №». Если Вы делаете доступ к файлу приватным, не забудьте указать пароль или ключ.</p>
									<p>Если у Вас только один товар, всю информацию пишите в одном поле.</p>
								</div>
							</div>
						</div>
						<div class="add-products">
							<div class="popup-row">
								<div class="popup-left">Товар 1</div>
								<div class="row popup-right">
									<div class="add-input">
										<textarea name="desc1" placeholder="Описание товара"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="popup-row">
							<div class="popup-left"></div>
							<div class="row popup-right">
								<div class="add-product">+ Добавить товар</div>
							</div>
						</div>
						<div class="popup-row">
							<div class="popup-left">Стоимость</div>
							<div class="row popup-right">
								<div class="add-input middle-input">
									<span class="small-text">цена за единицу:</span>
									<div class="input">
										<input type="text" placeholder="0">
										<div class="small-currency">₽</div>
									</div>
									<span class="small-text">
										Комиссия 3%. <br>
										Вы получите 194.00 ₽
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="unic-block" data-unic="notunic">
						<div class="popup-row">
							<div class="popup-left">Укажите продаваемые товары</div>
							<div class="row popup-right">
								<div class="text">
									<p>Данный текст будут получать все покупатели после оплаты. Обращаем Ваше внимание, также товаром может выступать любой файл, для продажи его следует загрузить на файлообменник (например: www.send.firefox.com, www.mega.nz, облачные хранилища Google или Яндекс) и разместить ссылку в поле «Продаваемая информация». Если Вы делаете доступ к файлу приватным, не забудьте указать пароль или ключ.</p>
								</div>
							</div>
						</div>
						<div class="popup-row">
							<div class="popup-left">Продаваемая информация</div>
							<div class="row popup-right">
								<div class="add-input">
									<textarea name="desc1" placeholder="Описание товара"></textarea>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="popup-row">
					<div class="popup-left">Краткое описание</div>
					<div class="row popup-right">
						<div class="add-input">
							<textarea name="" placeholder="Основные параметры продукта"></textarea>
						</div>
					</div>
				</div>
				<div class="popup-row">
					<div class="popup-left">Описание</div>
					<div class="row popup-right">
						<div class="add-input add-desc">
							<textarea name="" placeholder="Полное описание продукта"></textarea>
						</div>
					</div>
				</div>
				<div class="popup-row">
					<div class="popup-left">Скриншот</div>
					<!-- Все файлы загружаются в переменную (массив) - files, функция addScreen()  -->
					<div class="row popup-right">
						<div>
							<div class="uploadedFiles">
								<label class="file">
									<input type="file" id="addMore">
									{{Icon iconName="add"}}
								</label>
							</div>
							<label class="row add-screen">
								<input type="file" id="addScreen">
								{{Icon iconName="camera"}}
								<span>Добавить скриншот</span>
							</label>
							<div class="small-text">
								Публичные скриншоты товара увеличивают доверие и интерес со стороны покупателя.
							</div>
						</div>
					</div>
				</div>

				<div class="popup-row">
					<div class="popup-left"></div>
					<div class="row popup-right">
						<button class="btn submit">Готово</button>
						<a href="#" class="btn cancel">Отмена</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="popup popup-new popup-request">
		<div class="popup-inner">
			<div class="popup-close">{{Icon iconName="close"}}</div>
			<div class="row popup-subtitle">
				<span>Отправить запрос</span>
			</div>
			<form class="popup-form valid-form" autocomplete="off">
				<div class="popup-row">
					<div class="popup-left">Электронная почта</div>
					<div class="popup-right">
						<div class="add-input">
							<input type="text" name="email">
						</div>
					</div>
				</div>	
				<div class="popup-row">
					<div class="popup-left">Тема</div>
					<div class="popup-right">
						<select class="nice">
							<option value="0">Не выбрано</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
				</div>
				<div class="popup-row">
					<div class="popup-left">Имя (логин)</div>
					<div class="popup-right">
						<div class="add-input">
							<input type="text" name="name">
						</div>
					</div>
				</div>
				<div class="popup-row">
					<div class="popup-left">Номер заказа</div>
					<div class="popup-right">
						<div>
							<div class="add-input">
								<input type="text">
							</div>
							<div class="small-text">
								Если ваш запрос не связан с заказом, поставьте прочерк
							</div>
						</div>
					</div>
				</div>
				<div class="popup-row">
					<div class="popup-left">Что случилось?</div>
					<div class="row popup-right">
						<div>
							<div class="add-input add-desc">
								<textarea name=""></textarea>
							</div>
							<div class="small-text">
								Постарайтесь описать всё как можно подробнее и указать все детали (это позволит решить проблему быстрее)
							</div>
						</div>
					</div>
				</div>
				<div class="popup-row">
					<div class="popup-left"></div>
					<div class="row popup-right">
						<button class="btn submit">Отправить</button>
						<label class="row add-file">
							<input type="file">
							{{Icon iconName="newfile"}}
							<span class="add-text">Прикрепить файл</span>
						</label>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="popup popup-completed">
		<div class="popup-inner">
			<div class="popup-close">{{Icon iconName="close"}}</div>
			<div class="popup-done">
				{{Icon iconName="messagecircle"}}
			</div>
			<div class="popup-subtitle">Ваш запрос отправлен</div>
			<div class="popup-desc">Время ответа от 1 дня до двух недель, ожидайте ответ на вашу почту</div>
			<div class="popup-good popup_close">Хорошо</div>
		</div>
	</div>

	<div class="popup popup-new popup-edit">
		<div class="popup-inner">
			<div class="popup-close">{{Icon iconName="close"}}</div>
			<div class="row popup-subtitle">
				<span>Редактировать предложение</span>
				<div class="hide-pred">
					{{Icon iconName="hide"}}
				</div>
			</div>
			<form class="popup-form" autocomplete="off">
				<div class="popup-row">
					<div class="popup-left">Название игры</div>
					<div class="popup-right">
						<div class="add-input">
							<div class="popup-icon">
								{{Icon iconName="search"}}
							</div>
							<input type="text" class="gameSearch" placeholder="Поиск среди 213 игр">
							<div class="add-hint">
								<div class="add-inner">
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added1.png" alt="">
										</div>
										<div class="add-name">Dota 2</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added2.png" alt="">
										</div>
										<div class="add-name">Doom Ethernal</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added3.png" alt="">
										</div>
										<div class="add-name">Don’t Starve Together</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added4.png" alt="">
										</div>
										<div class="add-name">Dofus</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added1.png" alt="">
										</div>
										<div class="add-name">Dota 2</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added2.png" alt="">
										</div>
										<div class="add-name">Doom Ethernal</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added3.png" alt="">
										</div>
										<div class="add-name">Don’t Starve Together</div>
									</div>
									<div class="row add-item">
										<div class="add-image">
											<img src="%=static=%img/general/added4.png" alt="">
										</div>
										<div class="add-name">Dofus</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden-params show"> <!-- .show для показа дополнительных тегов -->
							<ul class="game-variants">
								<li class="game-variant active">Global</li>
								<li class="game-variant">RU</li>
								<li class="game-variant">EN</li>
							</ul>
						</div>
					</div>
				</div>	
				<div class="popup-row">
					<div class="popup-left">Категория</div>
					<div class="popup-right">
						<select class="nice">
							<option value="0">Не выбрано</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
				</div>
				<div class="hidden-params show"> <!-- .show для показа дополнительных полей -->
					<div class="popup-row">
						<div class="popup-left">Тип</div>
						<div class="popup-right">
							<select class="nice">
								<option value="0">Одежда</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</div>
					</div>
					<div class="popup-row">
						<div class="popup-left">Герой</div>
						<div class="popup-right">
							<select class="nice">
								<option value="0">Arc Warden</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</div>
					</div>
					<div class="popup-row">
						<div class="popup-left">Редкость</div>
						<div class="popup-right">
							<select class="nice">
								<option value="0">Mythtical</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</div>
					</div>
					<div class="popup-row">
						<div class="popup-left">Качество</div>
						<div class="popup-right">
							<select class="nice">
								<option value="0">Aucpicious</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</div>
					</div>
				</div>
				<div class="popup-row">
					<div class="popup-left">Вид сделки</div>
					<div class="popup-right">
						<div class="row popup-labels">
							<label>
								<input type="radio" name="sdelka" class="deal" data-active="hand" checked>
								<span class="custom">Ручная сделка</span>
							</label>
							<label>
								<input type="radio" name="sdelka" class="deal" data-active="moment">
								<span class="custom">Моментальная</span>
							</label>
						</div>
					</div>
				</div>	

				<div class="deal-block active" data-deal="hand">
					<div class="popup-row">
						<div class="popup-left">Стоимость</div>
						<div class="row popup-right">
							<div class="add-input small-input">
								<span class="small-text">цена за единицу:</span>
								<input type="text" placeholder="0">
								<div class="small-currency">₽</div>
							</div>
							<div class="add-input small-input">
								<span class="small-text">количество:</span>
								<input type="text" placeholder="0">
							</div>
							<div class="add-input small-input">
								<span class="small-text">ед. измерения:</span>
								<select class="nice">
									<option value="0">Не выбрано</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
								</select>
							</div>
						</div>
					</div>
					<div class="popup-row">
						<div class="popup-left">Мин. заказ</div>
						<div class="row popup-right">
							<div class="add-input middle-input">
								<span class="small-text">минимальное количество:</span>
								<input type="text" value="1">
							</div>
							<span class="or">или</span>
							<div class="add-input middle-input">
								<span class="small-text">минимальная сумма:</span>
								<input type="text" placeholder="0">
								<div class="small-currency">₽</div>
							</div>
						</div>
					</div>
				</div>

				<div class="deal-block" data-deal="moment">

					<div class="popup-row">
						<div class="popup-left">Инструкция товара для покупателя</div>
						<div class="row popup-right">
							<div class="add-input add-desc">
								<textarea name="" placeholder="Выдается покупателю после покупки"></textarea>
							</div>
						</div>
					</div>

					<div class="popup-row">
						<div class="popup-left">Уникальность продаваемого товара</div>
						<div class="align-top popup-right">
							<label class="unic">
								<input type="radio" name="unic" class="unic-input" data-unic="unic" checked>
								<span class="custom"></span>
								<span class="unic-text">
									<h4>Уникальный</h4>
									<span>Одна информация в одни руки. Например: одноразовые пинкоды.</span>
								</span>
							</label>
							<label class="unic">
								<input type="radio" name="unic" class="unic-input" data-unic="notunic">
								<span class="custom"></span>
								<span class="unic-text">
									<h4>Неуникальный</h4>
									<span>Одна информация в одни руки. Например: одноразовые пинкоды.</span>
								</span>
							</label>
						</div>
					</div>

					<div class="unic-block active" data-unic="unic">
						<div class="popup-row">
							<div class="popup-left">Укажите продаваемые товары</div>
							<div class="row popup-right">
								<div class="text">
									<p>Каждый оплативший покупатель будет получать один из указанных текстов. Выкупленный текст снимается с продажи. Обращаем Ваше внимание, также товаром может выступать любой файл, для продажи его следует загрузить на файлообменник (например: www.send.firefox.com, www.mega.nz, облачные хранилища Google или Яндекс) и разместить ссылку в поле «Товар №». Если Вы делаете доступ к файлу приватным, не забудьте указать пароль или ключ.</p>
									<p>Если у Вас только один товар, всю информацию пишите в одном поле.</p>
								</div>
							</div>
						</div>
						<div class="add-products">
							<div class="popup-row">
								<div class="popup-left">Товар 1</div>
								<div class="row popup-right">
									<div class="add-input">
										<textarea name="desc1" placeholder="Описание товара"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="popup-row">
							<div class="popup-left"></div>
							<div class="row popup-right">
								<div class="add-product">+ Добавить товар</div>
							</div>
						</div>
						<div class="popup-row">
							<div class="popup-left">Стоимость</div>
							<div class="row popup-right">
								<div class="add-input middle-input">
									<span class="small-text">цена за единицу:</span>
									<div class="input">
										<input type="text" placeholder="0">
										<div class="small-currency">₽</div>
									</div>
									<span class="small-text">
										Комиссия 3%. <br>
										Вы получите 194.00 ₽
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="unic-block" data-unic="notunic">
						<div class="popup-row">
							<div class="popup-left">Укажите продаваемые товары</div>
							<div class="row popup-right">
								<div class="text">
									<p>Данный текст будут получать все покупатели после оплаты. Обращаем Ваше внимание, также товаром может выступать любой файл, для продажи его следует загрузить на файлообменник (например: www.send.firefox.com, www.mega.nz, облачные хранилища Google или Яндекс) и разместить ссылку в поле «Продаваемая информация». Если Вы делаете доступ к файлу приватным, не забудьте указать пароль или ключ.</p>
								</div>
							</div>
						</div>
						<div class="popup-row">
							<div class="popup-left">Продаваемая информация</div>
							<div class="row popup-right">
								<div class="add-input">
									<textarea name="desc1" placeholder="Описание товара"></textarea>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="popup-row">
					<div class="popup-left">Краткое описание</div>
					<div class="row popup-right">
						<div class="add-input">
							<textarea name="" placeholder="Основные параметры продукта"></textarea>
						</div>
					</div>
				</div>
				<div class="popup-row">
					<div class="popup-left">Описание</div>
					<div class="row popup-right">
						<div class="add-input add-desc">
							<textarea name="" placeholder="Полное описание продукта"></textarea>
						</div>
					</div>
				</div>
				<div class="popup-row">
					<div class="popup-left">Скриншот</div>
					<!-- Все файлы загружаются в переменную (массив) - files, функция addScreen()  -->
					<div class="row popup-right">
						<div>
							<div class="uploadedFiles">
								<label class="file">
									<input type="file" id="addMore">
									{{Icon iconName="add"}}
								</label>
							</div>
							<label class="row add-screen">
								<input type="file" id="addScreen">
								{{Icon iconName="camera"}}
								<span>Добавить скриншот</span>
							</label>
							<div class="small-text">
								Публичные скриншоты товара увеличивают доверие и интерес со стороны покупателя.
							</div>
						</div>
					</div>
				</div>

				<div class="popup-row">
					<div class="popup-left"></div>
					<div class="row popup-right">
						<button class="btn submit">Готово</button>
						<a href="#" class="btn cancel">Отмена</a>
						<a href="#" class="row remove">
							{{Icon iconName="remove"}}
							<span>Удалить</span>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="popup popup-lang ">
		<div class="popup-inner">
			<div class="popup-close">{{Icon iconName="close"}}</div>
			<div class="popup-subtitle">Выберите язык</div>
			<div class="langs">
				<a href="#" class="row lang">
					<img src="%=static=%img/general/russia.svg" alt="">
					<span>Русский</span>
				</a>
				<a href="#" class="row lang active">
					<img src="%=static=%img/general/usa.svg" alt="">
					<span>English</span>
				</a>
			</div>
		</div>
	</div>

	<div class="popup popup-recover ">
		<div class="popup-inner">
			<div class="popup-title">Восстановление пароля</div>
			<form class="popup-form valid-form">
				<div class="popup-input">
					<span>Введите новый пароль</span>
					<input type="password" name="newpass" id="newpass">
				</div>
				<div class="popup-input">
					<span>Повторить новый пароль</span>
					<input type="password" name="renewpass">
				</div>
				<div class="popup-btn">
					<button>Сохранить</button>
				</div>
			</form>
		</div>
	</div>

	<div class="popup popup-email">
		<div class="popup-inner">
			<div class="popup-close">{{Icon iconName="close"}}</div>
			<div class="popup-subtitle">Смена эл. почты</div>
			<form action="" class="popup-form valid-form">
				<div class="popup-input">
					<span>Укажите новый E-mail</span>
					<input type="text" name="email">
					<p>Вам придет код на pixips@gmail.com и на новый E-mail.</p>
				</div>
				<div class="popup-btn">
					<button>Отправить</button>
				</div>
			</form>
		</div>
	</div>

	<div class="popup popup-email2">
		<div class="popup-inner">
			<div class="popup-close">{{Icon iconName="close"}}</div>
			<div class="popup-subtitle">Смена эл. почты</div>
			<form action="" class="popup-form valid-form">
				<div class="popup-input">
					<span>Укажите новый E-mail</span>
					<input type="text" value="hello.dantevsky@gmail.com" disabled>
					<p>Вам придет код на pixips@gmail.com и на новый E-mail.</p>
				</div>
				<div class="popup-input">
					<span>Укажите код с hello.dantevsky@gmail.com</span>
					<input type="text" name="code">
				</div>
				<div class="popup-input">
					<span>Укажите код с pixips@gmail.com</span>
					<input type="text">
					<p>Если вы передумали менять E-mail, то <a href="#" class="popup_close">отмените заявку.</a></p>
				</div>
				<div class="popup-btn">
					<button>Изменить эл. почту</button>
				</div>
			</form>
		</div>
	</div>

	<div class="popup popup-emailsuccess">
		<div class="popup-inner">
			<div class="popup-close">{{Icon iconName="close"}}</div>
			<div class="popup-done">
				{{Icon iconName="done"}}
			</div>
			<div class="popup-subtitle">Смена эл. почты</div>
			<div class="popup-desc">Вы успешно изменили электронную почту на pixips@gmail.com</div>
			<div class="popup-good popup_close">Хорошо</div>
		</div>
	</div>

	<div class="popup popup-money">
		<div class="popup-inner">
			<div class="popup-close">{{Icon iconName="close"}}</div>
			<div class="popup-subtitle">Вывести средства</div>
			<form action="" class="popup-form">
				<div class="popup-select">
					<span class="select-span">Способ оплаты</span>
					<select class="second2" id="pay">
						<option value="" data-hidden="false" selected disabled>Не выбрано</option>
						<option value="2" data-icon="static/img/general/icons/card.svg" >Банковской картой</option>
						<option value="3" data-icon="static/img/general/icons/yandex.svg" >Яндекс.Деньги</option>
						<option value="4" data-icon="static/img/general/icons/qiwi.svg" >QIWI</option>
						<option value="5" data-icon="static/img/general/icons/mts.svg" >МТС, Билайн, МегаФон</option>
						<option value="6" data-icon="static/img/general/icons/webmoney.svg" >WebMoney WMR</option>
						<option value="7" data-icon="static/img/general/icons/webmoney.svg" >WebMoney WMP</option>
						<option value="8" data-icon="static/img/general/icons/webmoney.svg" >WebMoney WMZ</option>
						<option value="9" data-icon="static/img/general/icons/webmoney.svg" >WebMoney WME</option>
					</select>
				</div>
				<div class="popup-input" id="props">
					<span>Реквизиты</span>
					<input type="text" class="card-mask">
				</div>
				<div class="popup-input">
					<span>Сумма вывода</span>
					<input type="text">
					<p>макс. сумма вывода 280 ₽</p>
				</div>
				<div class="popup-btn">
					<button>Вывести</button>
				</div>
			</form>
		</div>
	</div>

	<div class="popup popup-up">
		<div class="popup-inner">
			<div class="popup-close">{{Icon iconName="close"}}</div>
			<div class="popup-subtitle">Пополнить баланс</div>
			<form action="" class="popup-form">
				<div class="popup-select">
					<span class="select-span">Способ пополнения</span>
					<select class="second2" id="up">
						<option value="" data-hidden="false" selected disabled>Не выбрано</option>
						<option value="2" data-icon="static/img/general/icons/card.svg" >Банковской картой</option>
						<option value="3" data-icon="static/img/general/icons/yandex.svg" >Яндекс.Деньги</option>
						<option value="4" data-icon="static/img/general/icons/qiwi.svg" >QIWI</option>
						<option value="5" data-icon="static/img/general/icons/mts.svg" >МТС, Билайн, МегаФон</option>
						<option value="6" data-icon="static/img/general/icons/webmoney.svg" >WebMoney WMR</option>
						<option value="7" data-icon="static/img/general/icons/webmoney.svg" >WebMoney WMP</option>
						<option value="8" data-icon="static/img/general/icons/webmoney.svg" >WebMoney WMZ</option>
						<option value="9" data-icon="static/img/general/icons/webmoney.svg" >WebMoney WME</option>
					</select>
				</div>
				<div class="popup-input">
					<span>Сумма пополнения</span>
					<input type="text" class="number-input">
				</div>
				<div class="popup-btn">
					<button>Пополнить</button>
				</div>
			</form>
		</div>
	</div>
</div>