<div class="reviews">
	<div class="row reviews-row">
		<h3 class="reviews-title">Отзывы <span>124</span></h3>
		<div class="row rate">
			<div class="star active">
				{{Icon iconName="star"}}
			</div>
			<div class="reviews-title">4,5</div>
		</div>
	</div>
	<div class="reviews-items">
		<div class="reviews-item">
			<div class="seller-icon">
				<img src="%=static=%img/general/seller1.png" alt="Avatar">
				<div class="seller-status online"></div>
			</div>
			<div class="reviews-info">
				<div class="row reviews-top">
					<div class="row reviews-box">
						<p>В этом месяце</p>
						<span>GTA 5, 500 ₽</span>
					</div>
					<div class="row rate">
						<div class="star">
							{{Icon iconName="star"}}
						</div>
						<div class="star">
							{{Icon iconName="star"}}
						</div>
						<div class="star">
							{{Icon iconName="star"}}
						</div>
						<div class="star">
							{{Icon iconName="star"}}
						</div>
						<div class="star">
							{{Icon iconName="star"}}
						</div>
						<input type="hidden" value="5">
					</div>
				</div>

				<div class="reviews-text">
					Первый раз делал.... В общем, единственный кто ответил в течении пяти минут) Все сделал четко... Очень быстро... Осталось очень много приятных впечатлений, при работе данного товарища) - в размере Пяти ярдов... И много бонусов . Спасибо тебе, не пропадай будем работать дальше)))
				</div>
			</div>
		</div>
		<div class="reviews-item">
			<div class="seller-icon">
				<img src="%=static=%img/general/seller2.png" alt="Avatar">
				<div class="seller-status online"></div>
			</div>
			<div class="reviews-info">
				<div class="row reviews-top">
					<div class="row reviews-box">
						<p>В этом месяце</p>
						<span>GTA 5, 200 ₽</span>
					</div>
					<div class="row rate">
						<div class="star">
							{{Icon iconName="star"}}
						</div>
						<div class="star">
							{{Icon iconName="star"}}
						</div>
						<div class="star">
							{{Icon iconName="star"}}
						</div>
						<div class="star">
							{{Icon iconName="star"}}
						</div>
						<div class="star">
							{{Icon iconName="star"}}
						</div>
						<input type="hidden" value="4">
					</div>
				</div>

				<div class="reviews-text">
					Услуга была сделана максимально быстро и качественно.Продавцу большое спасибо.
				</div>
			</div>
		</div>
		<div class="reviews-item">
			<div class="seller-icon">
				<img src="%=static=%img/general/seller1.png" alt="Avatar">
				<div class="seller-status offline"></div>
			</div>
			<div class="reviews-info">
				<div class="row reviews-top">
					<div class="row reviews-box">
						<p>Месяц назад</p>
						<span>GTA 5, 40 ₽</span>
					</div>
					<div class="row rate">
						<div class="star">
							{{Icon iconName="star"}}
						</div>
						<div class="star">
							{{Icon iconName="star"}}
						</div>
						<div class="star">
							{{Icon iconName="star"}}
						</div>
						<div class="star">
							{{Icon iconName="star"}}
						</div>
						<div class="star">
							{{Icon iconName="star"}}
						</div>
						<input type="hidden" value="5">
					</div>
				</div>

				<div class="reviews-text">
					Пока все хорошо. Акк работает) если что, дополню отзыв если что-то пойдёт не так
				</div>
			</div>
		</div>
	</div>

	<div class="reviews-btn">
		Показать еще отзывы
	</div>
</div>
