<header class="header">
	<div class="wrapper">
		<div class="row header-row">
			<a href="/" class="logo">
				<img src="%=static=%img/general/logo2.svg" alt="">
			</a>
			<form class="search" autocomplete="off">
				<input type="text" class="search-input" placeholder="Поиск среди 213 игр">
				{{Icon iconName="search"}}
				<div class="search-results">
					<h4>Результаты поиска</h4>
					<div class="games">
						<div class="game">
							<div class="game-name">Aion</div>
							<ul class="game-variants">
								<li class="game-variant active">RU</li>
								<li class="game-variant">EN, NA</li>
								<li class="game-variant">Free</li>
							</ul>
							<div class="game-links game-tab active"> <!-- Первый таб -->
								<a href="#" class="game-link">Кинары</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
							<div class="game-links game-tab"> <!-- Второй таб -->
								<a href="#" class="game-link">Кинары</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
							<div class="game-links game-tab"> <!-- Третий таб -->
								<a href="#" class="game-link">Кинары</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Albion Online</div>
							<div class="game-links">
								<a href="#" class="game-link">Серебро</a>
								<a href="#" class="game-link">Золото</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
					</div>
				</div>
			</form>
			<nav class="row nav">
				<a href="#" class="nav-link">Помощь</a>
			</nav>
			<div class="row auth">
				<div class="btn login">
					Войти
				</div>
				<div class="btn register">
					Регистрация
				</div>
			</div>
		</div>
	</div>
</header>