<header class="header">
	<div class="wrapper">
		<div class="row header-row">
			<a href="/" class="logo">
				<img src="%=static=%img/general/logo2.svg" alt="">
			</a>
			<form class="search" autocomplete="off">
				<input type="text" class="search-input" placeholder="Поиск среди 213 игр">
				{{Icon iconName="search"}}
				<div class="search-results">
					<h4>Результаты поиска</h4>
					<div class="games">
						<div class="game">
							<div class="game-name">Aion</div>
							<ul class="game-variants">
								<li class="game-variant active">RU</li>
								<li class="game-variant">EN, NA</li>
								<li class="game-variant">Free</li>
							</ul>
							<div class="game-links game-tab active"> <!-- Первый таб -->
								<a href="#" class="game-link">Кинары</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
							<div class="game-links game-tab"> <!-- Второй таб -->
								<a href="#" class="game-link">Кинары</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
							<div class="game-links game-tab"> <!-- Третий таб -->
								<a href="#" class="game-link">Кинары</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
						<div class="game">
							<div class="game-name">Albion Online</div>
							<div class="game-links">
								<a href="#" class="game-link">Серебро</a>
								<a href="#" class="game-link">Золото</a>
								<a href="#" class="game-link">Аккаунты</a>
								<a href="#" class="game-link">Предметы</a>
								<a href="#" class="game-link">Услуги</a>
							</div>
						</div>
					</div>
				</div>
			</form>
			<nav class="row nav">
				<a href="#" class="nav-link">Помощь</a>
				<a href="#" class="nav-link">Финансы</a>
				<a href="#" class="nav-link">Сообщения</a>
			</nav>
			<div class="row user">
				<div class="user-icon">
					<img src="%=static=%img/general/user.png" alt="Профиль">
				</div>
				<div class="user-info">
					<div class="user-name">Dantevsky</div>
					<div class="user-balance">Баланс: <span>280 ₽</span></div>
				</div>

				<div class="user-popup">
					<div class="user-links">
						<a href="#" class="row user-link">
							<span>Мой профиль</span>
						</a>
						<a href="#" class="row user-link">
							<span>Русский язык</span>
							<img src="%=static=%img/general/russia.svg" alt="">
						</a>
					</div>
					<div class="user-links">
						<a href="#" class="row user-link">Покупки</a>
						<a href="#" class="row user-link">Продажи</a>
					</div>
					<div class="user-links">
						<a href="#" class="row user-link">Выйти</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>