<div class="modal-header">
	<div class="wrapper">
		<div class="row">
			<a href="/" class="row back">
				{{Icon iconName="back"}}
				<span>Вернуться к главной</span>
			</a>
			<a href="/" class="logo">
				<img src="%=static=%img/general/logo.svg" alt="">
			</a>
		</div>
	</div>
</div>