@black: #2C3E50;
@textblack: #76767A;
@gray: #D9D9D9;
@lightgray: #E8E8E8;
@bg: #F6F6F6;
@white: #FFFFFF;
@main: #FFDE2F;
@mainlink: #F7D231;
@menugray: #677387;
@blue: #2998FF;
@maingray: #848691;
@grayDDD: #DDDDDD;
@green: #45AC55;