<div class="product-filters">
	<form action="" class="row">
		<div class="product-select">
			<select class="nice">
				<option value="0">Сервер</option>
				<option value="1">PC</option>
				<option value="2">EU-PvP</option>
			</select>
		</div>
		<div class="product-checkbox">
			<label class="row">
				<span>Только продавцы онлайн</span>
				<input type="checkbox">
				<span class="check-box">
					<span class="circle"></span>
				</span> 
			</label>
		</div>
		<div class="product-input">
			<input type="text" placeholder="Поиск по описанию">
			<button class="btn">{{Icon iconName="search"}}</button>
		</div>
		<div class="product-select">
			<select class="nice">
				<option value="0">Герой</option>
				<option value="1">Ancient Apparation</option>
				<option value="1">Ancient Apparation qwe</option>
				<option value="2">EU-PvP</option>
			</select>
		</div>
	</form>
</div>