<div class="row bread">
	<a href="#" class="bread-link">Главная</a>
	{{Icon iconName="arrow"}}
	<a href="#" class="bread-link">Ссылка</a>
	{{Icon iconName="arrow"}}
	<a href="#" class="bread-link">Ссылка</a>
</div>